---
permalink: /404.html
layout: default
---

<style type="text/css" media="screen">
    h1 {
        margin: 30px 0;
        font-size: 10rem;
        line-height: 1;
        letter-spacing: -1px;
    }

    .not-found {
        text-align: center;
    }
</style>

<div class="not-found">
    <h1>404</h1>

    <p><strong>Page not found :(</strong></p>
    <p>The requested page could not be found.</p>
</div>