---
layout: page
permalink: about.html
title: Giới thiệu
page-title: Giới thiệu
---
<div class="about-content__body">
    <div class="container">
        <!-- ABOUT IMG START -->
        <div class="about-img">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
                    <div class="about-slide__wraps">
                        <div class="about-img__large">
                            <img src="assets/image/post/post1.jpg" alt="img">
                            <img src="assets/image/post/post2.jpg" alt="img">
                            <img src="assets/image/post/post3.jpg" alt="img">
                        </div>
                        <div class="dots">
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="about-img__mini">
                        <img src="assets/image/post/post2.jpg" alt="img">
                        <img src="assets/image/post/post3.jpg" alt="img">
                    </div>
                </div>
            </div>
        </div>
        <!-- ABOUT IMG END -->

        <!-- ABOUT CONTENT START -->
        <div class="about-content">

            <!-- CONTENT START -->
            <div class="about-content__paragraph">
                <!-- TITLE START -->
                <div class="title">
                    <h2>
                        Giới thiệu chung
                    </h2>
                </div>
                <!-- TITLE END -->

                <!-- PARAGRAPH START -->
                {% for item in site.data.about limit: 2 %}
                <div class="paragraph">
                    <p>
                        {{item.paragraph}}
                    </p>
                </div>
                {% endfor %}
                <!-- PARAGRAPH END -->
            </div>
            <!-- CONTENT END -->

            <!-- CONTENT START -->
            <div class="about-content__paragraph">
                <!-- TITLE START -->
                <div class="title">
                    <h2>
                        Tầm nhìn
                    </h2>
                </div>
                <!-- TITLE END -->

                <!-- PARAGRAPH START -->
                {% for item in site.data.about limit: 1 offset: 2 %}
                <div class="paragraph">
                    <p>
                        {{item.paragraph}}
                    </p>
                </div>
                {% endfor %}
                <!-- PARAGRAPH END -->
            </div>
            <!-- CONTENT END -->

            <!-- CONTENT START -->
            <div class="about-content__paragraph">
                <!-- TITLE START -->
                <div class="title">
                    <h2>
                        Sứ mệnh
                    </h2>
                </div>
                <!-- TITLE END -->

                <!-- PARAGRAPH START -->
                {% for item in site.data.about limit: 2 offset: 3 %}
                <div class="paragraph">
                    <p>
                        {{item.paragraph}}
                    </p>
                </div>
                {% endfor %}
                <!-- PARAGRAPH END -->
            </div>
            <!-- CONTENT END -->

        </div>
        <!-- ABOUT CONTENT END -->
    </div>
</div>