---
layout: categories
permalink: estate-rent.html
title: BĐS cho thuê
page-title: BĐS cho thuê
---

<!-- MAIN CONTENT START -->
<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
    <!-- LIST ITEM START -->
    <div class="list-rent-item">
        <div class="row">
            <div class="main-content__body-rent__container">
                <div class="row">
                    {% for item in site.data.main-rent %}
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="rent-item">
                            <!-- ITEM INNER START -->
                            <div class="rent-item__inner">
                                <!-- ITEM IMG START -->
                                <div class="rent-item__inner-img">
                                    {% if item.label != "" %}
                                    <label>
                                        <span>
                                            {{item.label}}
                                        </span>
                                    </label>
                                    {% endif %}
                                    <a href="#">
                                        <img src="{{item.img_path}}" alt="rent-img">
                                    </a>
                                    <!-- ITEM PRICE START -->
                                    <div class="price">
                                        <span>
                                            {{item.price}}
                                        </span>
                                    </div>
                                    <!-- ITEM PRICE END -->
                                </div>
                                <!-- ITEM IMG END -->

                                <!-- ITEM CONTENT START -->
                                <div class="rent-item__inner-content">

                                    <!-- TITLE START -->
                                    <div class="title">
                                        <h2>
                                            <a href="#">
                                                {{item.text}}
                                            </a>
                                        </h2>
                                    </div>
                                    <!-- TITLE END -->

                                    <!-- TABLE START -->
                                    <div class="table">
                                        <table>
                                            <tr>
                                                <td class="label">
                                                    <span>
                                                        {{item.title1}}
                                                    </span>
                                                </td>
                                                <td class="content">
                                                    <span>
                                                        {{item.content1}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="label">
                                                    <span>
                                                        {{item.title2}}
                                                    </span>
                                                </td>
                                                <td class="content">
                                                    <span>
                                                        {{item.content2}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="label">
                                                    <span>
                                                        {{item.title3}}
                                                    </span>
                                                </td>
                                                <td class="content">
                                                    <span>
                                                        {{item.content3}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- TABLE END -->

                                    <!-- DESCRIPTION START -->
                                    <div class="description">
                                        <div class="auth">
                                            <i class="fas fa-user"></i>
                                            <a href="#">{{item.auth}}</a>
                                        </div>
                                        <div class="date">
                                            <i class="fal fa-calendar-alt"></i>
                                            <span>
                                                {{item.date}}
                                            </span>
                                        </div>
                                    </div>
                                    <!-- DESCRIPTION END -->

                                </div>
                                <!-- ITEM CONTENT END -->
                            </div>
                            <!-- ITEM INNER END -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- LIST ITEM END -->

    <!-- PAGINATION START -->
    <div id="pagination" class="pagination">
        <ul>
            <li class="active">
                <a href="#">
                    <span>
                        1
                    </span>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <span>
                        2
                    </span>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <span>
                        3
                    </span>
                </a>
            </li>
            <li class="">
                <a href="#">
                    <span>
                        4
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- PAGINATION END -->

</div>
<!-- MAIN CONTENT END -->