---
layout: page
permalink: contact.html
title: Thông tin liên hệ
page-title: Thông tin liên hệ
---
<div class="contact-content__body">

    <div class="contact-content__body-inner">
        <div class="container">
            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <!-- INFO START -->
                    <div class="contact-main__body-info">
                        <div class="title">
                            <h2>
                                Thông tin liên hệ
                            </h2>
                        </div>

                        <div class="paragraph">
                            <p>
                                <b>FGC Techlution</b> trân trọng cảm ơn Quý Khách đã quan tâm tới hoạt động của chúng
                                tôi.
                                Mọi góp ý, thắc mắc xin vui lòng
                                liên hệ trực tiếp hoặc gửi thông tin theo mẫu form. FGC Techlution luôn chào đón Quí
                                Khách tại văn phòng công ty cũng
                                như cố gắng để phản hồi lại ý kiến của Quí Khách trong thời gian sớm nhất
                            </p>
                        </div>

                        <div class="text">
                            <p>
                                <label>Địa chỉ: </label>
                                <span>
                                    Khu liền kề 7, KĐT Nam Nguyễn Sỹ Sách, Đường Duy Tân, Tp Vinh, Tỉnh Nghệ An
                                </span>
                            </p>
                        </div>

                        <div class="text">
                            <p>
                                <label>Email: </label>
                                <span>
                                    lienhe@fgc.vn
                                </span>
                            </p>
                        </div>

                        <div class="text">
                            <p>
                                <label>Hotline: </label>
                                <a href="#">
                                    (+84).02386.556.388
                                </a>
                            </p>
                        </div>

                        <div class="socials-list-item">
                            <ul>
                                {% for item in site.data.header-socials %}
                                <li>
                                    <a class="item item--{{item.class}}" href="{{item.class}}">
                                        {{item.icon}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- INFO END -->
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pl-0 pr-0">
                    <div class="contact-map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3779.5940853376715!2d105.69134111538948!3d18.682202469085677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3139ce0ac6f98b7f%3A0xd3f90c2c26d4eeb!2sFGC%20Techlution%2C%20JSC!5e0!3m2!1svi!2s!4v1643192666770!5m2!1svi!2s"
                            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="contact-content__body-inner contact-content__body-form ">
        <div class="container">
            <div class="title title--border title--center">
                <h2>
                    Gửi thông tin cho chúng tôi
                </h2>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <form class="" action="#" method="post">
                        <div class="row">
                            <!-- NAME INPUT START -->
                            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                                <div class="form-group">
                                    <input class="form-control" name="name" placeholder="Tên của bạn" type="text"
                                        required />
                                </div>
                            </div>
                            <!-- NAME INPUT END -->

                            <!-- EMAIL INPUT START -->
                            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                                <div class="form-group">
                                    <input class="form-control" name="email" placeholder="Email của bạn" type="email"
                                        required />
                                </div>
                            </div>
                            <!--EMAIL INPUT END -->

                            <!-- THEME INPUT START -->
                            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                                <div class="form-group">
                                    <input class="form-control" name="theme" placeholder="Chủ đề" type="text" />
                                </div>
                            </div>
                            <!-- THEME INPUT END -->

                            <!-- THEME INPUT START -->
                            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary btn-large"
                                        placeholder="Chủ đề" type="text">GỬI YÊU CẦU</button>
                                </div>
                            </div>
                            <!-- THEME INPUT END -->
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="content" required=""
                                placeholder="Nhâp nội dung muốn gửi"></textarea>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>