---
layout: categories
permalink: details.html
title: Chi tiết Bất Động Sản
page-title: Chi tiết Bất Động Sản
---
<!-- DETAILS CONTENT START -->
<div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
    <div class="details-container">
        <div class="details-container__title">
            <!-- TITLE AND POSITION START -->
            <div class="details-container__title-inner">
                <!-- TITLE START -->
                <div class="title pb-20">
                    <h1>
                        Cần bán chung cư horizon city
                    </h1>
                </div>
                <!-- TITLE END-->

                <!-- POSITION START -->
                <div class="position">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>
                        Trường Thi, Tp Vinh, Nghệ An
                    </span>
                </div>
                <!-- POSITION END -->
            </div>
            <!-- TITLE AND POSITION END -->

            <!-- BUTTON START -->
            <label class="btn btn-success">
                Đang bán
            </label>
            <!-- BUTTON END -->
        </div>

        <!-- IMAGE AREA START -->
        <div class="details-container__image">
            <div class="image-wraps">
                <!-- MAIN IMAGE START -->
                <div class="image-wraps__main">
                    <img src="assets/image/details/details1.jpg">
                </div>
                <!-- MAIN IMAGE END -->

                <!-- THUMB IMAGE START -->
                <div class="image-wraps__thumb">
                    {% for item in site.data.details-thumb %}
                    <div class="image-thumb__item">
                        <img src="{{item.img_path}}" alt="img">
                    </div>
                    {% endfor %}
                </div>
                <!-- THUMB IMAGE END -->
            </div>
        </div>
        <!-- IMAGE AREA END -->

        <!-- DESCRIPTION START -->
        <div class="details-container__description">
            <div class="title">
                <h6>
                    Mô tả chi tiết
                </h6>
            </div>

            <div class="content">
                {% for item in site.data.details-text limit: 2 %}
                <p>
                    {{item.text}}
                </p>
                {% endfor %}
            </div>
        </div>
        <!-- DESCRIPTION END -->

        <!-- CHARACTERISTIC START -->
        <div class="details-container__characteristic">
            <div class="row">

                <!-- CHARACTERISTIC ITEM START -->
                <div class="col-sm-12 col-md-12 col-sm-6 col-xl-6 col-xl-6">
                    <div class="characteristic-item">
                        <!-- TITLE START -->
                        <div class="title title--characteristic">
                            <div class="characteristic">
                                đặc điểm bất động sản
                            </div>
                        </div>
                        <!-- TITLE END -->

                        <!-- CONTENT START -->
                        <div class="characteristic-item__content">
                            <table>
                                {% for item in site.data.details-description limit: 7 %}
                                <tr>
                                    <td class="label">
                                        {{item.title}}
                                    </td>
                                    <td class="content">
                                        {{item.content}}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- CONTENT END -->
                    </div>
                </div>
                <!-- CHARACTERISTIC ITEM END -->

                <!-- CHARACTERISTIC ITEM START -->
                <div class="col-sm-12 col-md-12 col-sm-6 col-xl-6 col-xl-6">
                    <div class="characteristic-item">
                        <!-- TITLE START -->
                        <div class="title title--characteristic">
                            <div class="characteristic">
                                đặc điểm bất động sản
                            </div>
                        </div>
                        <!-- TITLE END -->

                        <!-- CONTENT START -->
                        <div class="characteristic-item__content">
                            <table>
                                {% for item in site.data.details-description offset: 7 %}
                                <tr>
                                    <td class="label">
                                        {{item.title}}
                                    </td>
                                    <td class="content">
                                        {{item.content}}
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <!-- CONTENT END -->
                    </div>
                </div>
                <!-- CHARACTERISTIC ITEM END -->
            </div>
        </div>
        <!-- CHARACTERISTIC END -->

        <!-- SIMILAR POST START -->
        <div class="details-container__similar">
            <!-- TITLE START -->
            <div class="title title--center title--border">
                <h2>
                    Các bài đăng tương tự
                </h2>
            </div>
            <!-- TITLE END -->

            <!-- CONTENT START -->
            <div class="content">
                <div class="row">
                    {% for item in site.data.main-rent limit: 2 %}
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="rent-item">
                            <!-- ITEM INNER START -->
                            <div class="rent-item__inner">
                                <!-- ITEM IMG START -->
                                <div class="rent-item__inner-img">
                                    {% if item.label != "" %}
                                    <label>
                                        <span>
                                            {{item.label}}
                                        </span>
                                    </label>
                                    {% endif %}
                                    <a href="#">
                                        <img src="{{item.img_path}}" alt="rent-img">
                                    </a>
                                    <!-- ITEM PRICE START -->
                                    <div class="price">
                                        <span>
                                            {{item.price}}
                                        </span>
                                    </div>
                                    <!-- ITEM PRICE END -->
                                </div>
                                <!-- ITEM IMG END -->

                                <!-- ITEM CONTENT START -->
                                <div class="rent-item__inner-content">

                                    <!-- TITLE START -->
                                    <div class="title">
                                        <h2>
                                            <a href="#">
                                                {{item.text}}
                                            </a>
                                        </h2>
                                    </div>
                                    <!-- TITLE END -->

                                    <!-- TABLE START -->
                                    <div class="table">
                                        <table>
                                            <tr>
                                                <td class="label">
                                                    <span>
                                                        {{item.title1}}
                                                    </span>
                                                </td>
                                                <td class="content">
                                                    <span>
                                                        {{item.content1}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="label">
                                                    <span>
                                                        {{item.title2}}
                                                    </span>
                                                </td>
                                                <td class="content">
                                                    <span>
                                                        {{item.content2}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="label">
                                                    <span>
                                                        {{item.title3}}
                                                    </span>
                                                </td>
                                                <td class="content">
                                                    <span>
                                                        {{item.content3}}
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- TABLE END -->

                                    <!-- DESCRIPTION START -->
                                    <div class="description">
                                        <div class="auth">
                                            <i class="fas fa-user"></i>
                                            <a href="#">{{item.auth}}</a>
                                        </div>
                                        <div class="date">
                                            <i class="fal fa-calendar-alt"></i>
                                            <span>
                                                {{item.date}}
                                            </span>
                                        </div>
                                    </div>
                                    <!-- DESCRIPTION END -->

                                </div>
                                <!-- ITEM CONTENT END -->
                            </div>
                            <!-- ITEM INNER END -->
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- CONTENT END -->
        </div>
        <!-- SIMILAR POST END -->

    </div>
</div>
<!-- DETAILS CONTENT END -->