---
layout: default
title: Trang chủ
permalink: index.html
---

<div class="main-content__body">
    <!-- MAIN CONTENT SLIDE START -->
    <div class="main-content__body-slide">
        {% for item in site.data.main-slide %}
        <div class="body-slide__item" style="background: url('{{item.img_path}}')">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <div class="slide__item-inner">
                            <div class="title">
                                <span> {{item.title}} </span>
                            </div>
                            <div class="content">
                                <h2>{{item.content}}</h2>
                            </div>
                            <div class="button">
                                <a href="#" class="btn btn-large btn-primary">
                                    {{item.button}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- MAIN CONTENT SLIDE END -->

    <!-- LOOKING FORM START -->
    <div class="main-content__body-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <form action="#" method="post">
                        <div class="form-looking" style="background: url('assets/image/background/form.jpg')">
                            <!-- ROW 1 START -->
                            <div class="row">
                                <!-- NAME OF PROJECT START -->
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <div class="form-group">
                                        <input type="text" name="project-name" class="form-control" required
                                            placeholder="Nhập tên sự án, thành phố hoặc quận huyện" />
                                    </div>
                                </div>
                                <!-- NAME OF PROJECT END -->

                                <!-- LIST TYPE START -->
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <div class="form-group">
                                        <select class="form-control" name="type-land">
                                            <option value="0">
                                                <span> Chọn loại nhà đất </span>
                                            </option>
                                            {% for item in site.data.main-type-land %}
                                            <option value="{{item.value}}">
                                                <span> {{item.type}} </span>
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <!-- LIST TYPE END -->
                            </div>
                            <!-- ROW 1 END -->

                            <!-- ROW 2 START -->
                            <div class="row">
                                <!-- SELECT CITY START -->
                                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="0">
                                                <span>Chọn tỉnh/Thành phố</span>
                                            </option>
                                            {% for item in site.data.main-city-list %}
                                            <option value=""><span>{{item.text}}</span></option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <!-- SELECT CITY END -->

                                <!-- SELECT DISTRICT START -->
                                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="0">Chọn Quận/Huyện</option>
                                            {% for item in site.data.main-city-list %}
                                            <option value="">{{item.text}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <!-- SELECT DISTRICT END -->

                                <!-- SELECT CITY START -->
                                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="0">Chọn diện tích</option>
                                            {% for item in site.data.main-area %}
                                            <option value="">
                                                <p>{{item.text}}<sup>m2</sup></p>
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <!-- SELECT CITY END -->

                                <!-- SELECT DIRECTION START -->
                                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="0">Chọn hướng </option>
                                            {% for item in site.data.main-direction %}
                                            <option value="">{{item.text}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <!-- SELECT DIRECTION END -->
                            </div>
                            <!-- ROW 2 END -->

                            <!-- ROW 3 START -->
                            <div class="row">
                                <!-- SELECT BOOK START -->
                                <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                                    <div class="form-group">
                                        <select class="form-control">
                                            <option value="0">
                                                <span> Chọn loại sổ </span>
                                            </option>
                                            {% for item in site.data.main-book %}
                                            <option value="">{{item.text}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <!-- SELECT BOOK END -->

                                <!-- RANGER SLIDER START -->
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                                    <div class="main-ranger__slider">
                                        <div class="main-ranger__slide-label">
                                            <span>Giá từ: </span>
                                            <div class="main-ranger__slide-price">
                                                <span id="price_min"> 0 </span>
                                                <span> - </span>
                                                <span id="price_max"> 10 </span>
                                            </div>
                                        </div>
                                        <input type="text" class="slide-ranger" name="slide-ranger" value="" />
                                    </div>
                                </div>
                                <!-- RANGER SLIDER END -->

                                <!-- BUTTON SUBMIT START -->
                                <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3 col-xxl-3">
                                    <div class="button">
                                        <button class="btn btn-large btn-primary">
                                            Kiểm tra kết quả
                                        </button>
                                    </div>
                                </div>
                                <!-- BUTTON SUBMIT END -->
                            </div>
                            <!-- ROW 3 -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- LOOKING FORM END -->

    <!-- HIGHLIGHTS PRODUCT START -->
    <div class="highlights-product">
        <div class="container">
            <div class="highlights-product-nav">
                <div class="title title--border">
                    <h2>Đất cần bán nổi bật</h2>
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for item in site.data.highlights-product limit: 4 %}
                    <li class="nav-item" role="presentation">
                        <div class="nav-link btn btn-primary {{item.status}}" id="{{item.id}}" data-bs-toggle="tab"
                            data-bs-target="#{{item.data-target}}" type="button" role="tab"
                            aria-controls="{{aria-control}}" aria-selected="true">{{item.text}}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="tab-content" id="myTabContent">
                {% for item in site.data.highlights-product limit: 4 %}
                <div class="tab-pane fade {% if item.status == 'active' %} show {% endif %}  {{item.status}}"
                    id="{{item.data-target}}" role="tabpanel" aria-labelledby="{{item.id}}">
                    <div class="highlights-product__wraps">
                        <div class="row">
                            <!-- IMG BLOCK START -->
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="highlights-product__img">
                                    <!-- BIG IMG START -->
                                    <div class="item item--big"
                                        style="background: url('assets/image/product/product1.jpg');">
                                        <!-- OVERLAY START -->
                                        <img src="assets/image/product/overlay.jpg" class="over-lay"></img>
                                        <!-- OVERLAY END -->

                                        <!-- TEXT START -->
                                        <div class="item-text">
                                            <label> 1 tỷ 500 triệu </label>
                                            <h2>Bán lô 2 mặt tiền duy tân, tp Vinh</h2>
                                            <table>
                                                <tr>
                                                    <td class="title">Giá</td>
                                                    <td class="content">: 140 triệu/m<sub>2</sub></td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Diện tích</td>
                                                    <td class="content">: 142 m<sub>2</sub></td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Quận/huyện</td>
                                                    <td class="content">: Trường thi, tp Vinh, Tỉnh Nghệ An</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- TEXT EDN -->
                                    </div>
                                    <!-- BIG IMG END -->

                                    <!-- SMALL IMG START -->
                                    <div class="highlights-product__img-small">
                                        <div class="item item--small"
                                            style="background: url('assets/image/product/product2.jpg');"></div>
                                        <div class="item item--small"
                                            style="background: url('assets/image/product/product3.jpg');"></div>
                                    </div>
                                    <!-- SMALL IMG END -->
                                </div>
                            </div>
                            <!-- IMG BLOCK END -->

                            <!-- IMG BLOCK START -->
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="highlights-product__img reserve">

                                    <!-- SMALL IMG START -->
                                    <div class="highlights-product__img-small">
                                        <div class="item item--small"
                                            style="background: url('assets/image/product/product4.jpg');"></div>
                                        <div class="item item--small"
                                            style="background: url('assets/image/product/product5.jpg');"></div>
                                    </div>
                                    <!-- SMALL IMG END -->

                                    <!-- BIG IMG START -->
                                    <div class="item item--big"
                                        style="background: url('assets/image/product/product6.jpg');">
                                    </div>
                                    <!-- BIG IMG END -->


                                </div>
                            </div>
                            <!-- IMG BLOCK END -->


                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- HIGHLIGHTS PRODUCT END -->

    <!-- BANNER 1 START -->
    <div class="main-content__body-banner" style="background: url('assets/image/banner/banner1.jpg');">
        <div class="body-banner__wraps">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <div class="body-banner__wraps-text">
                            <!-- BANNER TEXT START -->
                            {% for item in site.data.banner1-text %}

                            <!-- TITLE START -->
                            <div class="title">
                                <h3>
                                    {{item.title}}
                                </h3>
                            </div>
                            <!-- TITLE END -->

                            <!-- PARAGRAPH START -->
                            <div class="paragraph">
                                <p>
                                    {{item.desc}}
                                </p>
                            </div>
                            <!-- PARAGRAPH END -->

                            <!-- BUTTON START -->
                            <div class="button">
                                <a class="btn btn-large btn-warning">
                                    {{item.btn}}
                                </a>
                            </div>
                            <!-- BUTTON END -->

                            {% endfor %}
                            <!-- BANNER TEXT END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BANNER 1 END -->

    <!-- RENT REAL ESTATE START -->
    <div class="main-content__body-rent">
        <div class="container">

            <!-- TITLE START -->
            <div class="highlights-product-nav">
                <div class="title title--border">
                    <h2>Bất động sản cho thuê</h2>
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for item in site.data.highlights-product offset: 4 limit: 4%}
                    <li class="nav-item" role="presentation">
                        <div class="nav-link btn btn-primary {{item.status}}" id="{{item.id}}" data-bs-toggle="tab"
                            data-bs-target="#{{item.data-target}}" type="button" role="tab"
                            aria-controls="{{aria-control}}" aria-selected="true">{{item.text}}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- TITLE END -->

            <div class="tab-content" id="myTabContent">
                {% for item in site.data.highlights-product offset: 4 limit: 4 %}
                <div class="tab-pane fade {% if item.status == 'active' %} show {% endif %}  {{item.status}}"
                    id="{{item.data-target}}" role="tabpanel" aria-labelledby="{{item.id}}">
                    <div class="main-content__body-rent__container">
                        <div class="row">
                            {% for item in site.data.main-rent %}
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                <div class="rent-item">
                                    <!-- ITEM INNER START -->
                                    <div class="rent-item__inner">
                                        <!-- ITEM IMG START -->
                                        <div class="rent-item__inner-img">
                                            {% if item.label != "" %}
                                            <label>
                                                <span>
                                                    {{item.label}}
                                                </span>
                                            </label>
                                            {% endif %}
                                            <a href="#">
                                                <img src="{{item.img_path}}" alt="rent-img">
                                            </a>
                                            <!-- ITEM PRICE START -->
                                            <div class="price">
                                                <span>
                                                    {{item.price}}
                                                </span>
                                            </div>
                                            <!-- ITEM PRICE END -->
                                        </div>
                                        <!-- ITEM IMG END -->

                                        <!-- ITEM CONTENT START -->
                                        <div class="rent-item__inner-content">

                                            <!-- TITLE START -->
                                            <div class="title">
                                                <h2>
                                                    <a href="#">
                                                        {{item.text}}
                                                    </a>
                                                </h2>
                                            </div>
                                            <!-- TITLE END -->

                                            <!-- TABLE START -->
                                            <div class="table">
                                                <table>
                                                    <tr>
                                                        <td class="label">
                                                            <span>
                                                                {{item.title1}}
                                                            </span>
                                                        </td>
                                                        <td class="content">
                                                            <span>
                                                                {{item.content1}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="label">
                                                            <span>
                                                                {{item.title2}}
                                                            </span>
                                                        </td>
                                                        <td class="content">
                                                            <span>
                                                                {{item.content2}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="label">
                                                            <span>
                                                                {{item.title3}}
                                                            </span>
                                                        </td>
                                                        <td class="content">
                                                            <span>
                                                                {{item.content3}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!-- TABLE END -->

                                            <!-- DESCRIPTION START -->
                                            <div class="description">
                                                <div class="auth">
                                                    <i class="fas fa-user"></i>
                                                    <a href="#">{{item.auth}}</a>
                                                </div>
                                                <div class="date">
                                                    <i class="fal fa-calendar-alt"></i>
                                                    <span>
                                                        {{item.date}}
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- DESCRIPTION END -->

                                        </div>
                                        <!-- ITEM CONTENT END -->
                                    </div>
                                    <!-- ITEM INNER END -->
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>




        </div>
    </div>
    <!-- RENT REAL ESTATE END -->

    <!-- BANDROLL 2 START -->
    <div class="main-content__body-bandroll" style="background: url('assets/image/banner/banner2.jpg');">
        <div class="container">
            <div class="row">
                <!-- BANDROLL LEFT START -->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="bandroll-inner">
                        <div class="bandroll-inner__text">
                            <h2>
                                Dịch vụ bất động sản tốt nhất
                            </h2>
                        </div>
                        <div class="bandroll-inner__desc">
                            <h4>
                                Nhận tin tức và cập nhật mới nhất từ FGC
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- BANDROLL LEFT END -->

                <!-- BANDROLL RIGHT START -->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="bandroll-wraps">
                        <div class="bandroll-wraps__icon">
                            <i class="fas fa-phone-volume"></i>
                        </div>
                        <div class="bandroll-wraps__text">
                            <span>
                                điện thoại chúng tôi
                            </span>
                            <p>
                                (+84)-800-555-6789
                            </p>
                        </div>
                    </div>
                </div>
                <!-- BANDROLL RIGHT END -->
            </div>
        </div>

    </div>
    <!-- BANDROLL 2 END -->

    <!-- HIGHLIGHTS PRODUCT START -->
    <div class="highlights-product">
        <div class="container">
            <div class="highlights-product-nav">
                <div class="title title--border">
                    <h2>Đất cần bán nổi bật</h2>
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for item in site.data.highlights-product offset: 8 limit: 4 %}
                    <li class="nav-item" role="presentation">
                        <div class="nav-link btn btn-primary {{item.status}}" id="{{item.id}}" data-bs-toggle="tab"
                            data-bs-target="#{{item.data-target}}" type="button" role="tab"
                            aria-controls="{{aria-control}}" aria-selected="true">{{item.text}}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="tab-content" id="myTabContent">
                {% for item in site.data.highlights-product offset: 8 limit: 4 %}
                <div class="tab-pane fade {% if item.status == 'active' %} show {% endif %}  {{item.status}}"
                    id="{{item.data-target}}" role="tabpanel" aria-labelledby="{{item.id}}">
                    <div class="highlights-product__wraps">
                        <div class="row">
                            <!-- IMG BLOCK START -->
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="highlights-product__img">
                                    <!-- BIG IMG START -->
                                    <div class="item item--big"
                                        style="background: url('assets/image/product/product1.jpg');">
                                        <!-- OVERLAY START -->
                                        <img src="assets/image/product/overlay.jpg" class="over-lay"></img>
                                        <!-- OVERLAY END -->

                                        <!-- TEXT START -->
                                        <div class="item-text">
                                            <label> 1 tỷ 500 triệu </label>
                                            <h2>Bán lô 2 mặt tiền duy tân, tp Vinh</h2>
                                            <table>
                                                <tr>
                                                    <td class="title">Giá</td>
                                                    <td class="content">: 140 triệu/m<sub>2</sub></td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Diện tích</td>
                                                    <td class="content">: 142 m<sub>2</sub></td>
                                                </tr>
                                                <tr>
                                                    <td class="title">Quận/huyện</td>
                                                    <td class="content">: Trường thi, tp Vinh, Tỉnh Nghệ An</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!-- TEXT EDN -->
                                    </div>
                                    <!-- BIG IMG END -->

                                    <!-- SMALL IMG START -->
                                    <div class="highlights-product__img-small">
                                        <div class="item item--small"
                                            style="background: url('assets/image/product/product2.jpg');"></div>
                                        <div class="item item--small"
                                            style="background: url('assets/image/product/product3.jpg');"></div>
                                    </div>
                                    <!-- SMALL IMG END -->
                                </div>
                            </div>
                            <!-- IMG BLOCK END -->

                            <!-- IMG BLOCK START -->
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="highlights-product__img reserve">

                                    <!-- SMALL IMG START -->
                                    <div class="highlights-product__img-small">
                                        <div class="item item--small"
                                            style="background: url('assets/image/product/product4.jpg');"></div>
                                        <div class="item item--small"
                                            style="background: url('assets/image/product/product5.jpg');"></div>
                                    </div>
                                    <!-- SMALL IMG END -->

                                    <!-- BIG IMG START -->
                                    <div class="item item--big"
                                        style="background: url('assets/image/product/product6.jpg');">
                                    </div>
                                    <!-- BIG IMG END -->


                                </div>
                            </div>
                            <!-- IMG BLOCK END -->


                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- HIGHLIGHTS PRODUCT END -->

    <!-- MARKETING BANNER START -->
    <div class="main-content__body-marketing" style="background: url('assets/image/banner/banner3.jpg');">
        <div class="container">
            <!-- TITLE START -->
            <div class=" title title--border">
                <h4>
                    Nhà môi giới bất động sản
                </h4>
            </div>
            <!-- TITLE END -->

            <!-- LIST ITEM START -->
            <div class="row">
                {% for item in site.data.main-marketing %}
                <!-- ITEM START -->
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3">
                    <div class="marketing-item">
                        <div class="marketing-item__inner">
                            <!-- IMG START -->
                            <div class="marketing-item__inner-img">
                                <img src="{{item.img_path}}" alt="marketing-img">
                            </div>
                            <!-- IMG END -->

                            <!-- CONTENT START -->
                            <div class="marketing-item__inner-content">
                                <!-- NAME START -->
                                <div class="name">
                                    <h3>
                                        <a href="#">
                                            {{item.name}}
                                        </a>
                                    </h3>
                                </div>
                                <!-- NAME END -->

                                <!-- PHONE START -->
                                <div class="phone">
                                    <h4>
                                        {{item.phone}}
                                    </h4>
                                </div>
                                <!-- PHONE END -->

                                <!-- DESC START -->
                                <div class="desc">
                                    <p>
                                        {{item.desc}}
                                    </p>
                                </div>
                                <!-- DESC END -->
                            </div>
                            <!-- CONTENT END -->
                        </div>
                    </div>
                </div>
                <!-- ITEM END -->
                {% endfor %}
            </div>
            <!-- LIST ITEM END -->

            <!-- BUTTON START -->
            <div class="button">
                <a class="btn btn-warning btn-large">
                    xem tất cả
                </a>
            </div>
            <!-- BUTTON END -->

        </div>

    </div>
    <!-- MARKETING BANNER END -->

    <!-- HIGHLIGHTS NEWS START -->
    <div class="main-content__body-news">
        <div class="container">
            <div class="row">
                <!-- TITLE START -->
                <div class="title title--border title--news title--center">
                    <h2>
                        Tin tức bất động sản nổi bật
                    </h2>
                </div>
                <!-- TITLE END -->

                <!-- NEWS NEWEST START -->
                <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 col-xxl-7">
                    <div class="main-news__container">
                        <div class="main-news__container-wraps">
                            <!-- IMAGE START -->
                            <div class="main-news__wraps-img">
                                <img src="assets/image/news/news-1.jpg" alt="news-img">
                            </div>
                            <!-- IMAGE END -->

                            <!-- NAME START -->
                            <div class="title">
                                <h5>
                                    Nốt trầm của thị trường bất động sản nghỉ dưỡng
                                </h5>
                            </div>
                            <!-- NAME END -->

                            <!-- DESCRIPTION START -->
                            <div class="desc">
                                <p>
                                    Nhiều doanh nghiệp kinh doanh trong lĩnh vực BĐS nghỉ
                                    dưỡng đang gặp khó khăn trong việc bán hàng. Trái với các con số
                                    về tiềm năng, sức tiêu thụ cao, nhất là tại các thị
                                    trường truyền thống như Nha Trang,Bình Dương, Đà Nẵng, Phú Quốc.
                                </p>
                            </div>
                            <!-- DESCRIPTION END -->

                            <!-- INFO START -->
                            <div class="info">
                                <div class="info__inner">
                                    <!-- AUTH START -->
                                    <div class="auth">
                                        <a href="#">
                                            <i class="fas fa-user-alt"></i>
                                            <span>Amin</span>
                                        </a>
                                    </div>
                                    <!-- AUTH END -->

                                    <!-- DATE START -->
                                    <div class="auth">
                                        <i class="fad fa-calendar-alt"></i>
                                        <span>02/11/2018</span>
                                    </div>
                                    <!-- DATE END -->
                                </div>

                                <div class="info__inner">
                                    <a href="#" class="read">
                                        <span>
                                            Read more
                                        </span>
                                        <i class="far fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- INFO END -->
                        </div>
                    </div>
                </div>
                <!-- NEWS NEWEST END -->

                <!-- LIST NEWS START -->
                <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 col-xxl-5">
                    <div class="main-list__news">
                        <ul>
                            {% for item in site.data.main-news %}
                            <li>
                                <img src="{{item.img_path}}">

                                <div class="content">
                                    <div class="name">
                                        <a href="#">
                                            {{item.name}}
                                        </a>
                                    </div>

                                    <div class="info">
                                        <span>{{item.auth}}</span>,
                                        &nbsp;
                                        <span>{{item.date}}</span>
                                    </div>

                                    <div class="desc">
                                        <p>
                                            {{item.desc}}
                                        </p>
                                    </div>

                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
                <!-- LIST NEWS END -->
            </div>
        </div>
    </div>
    <!-- HIGHLIGHTS NEWS END -->

    <!-- PARTNER START -->
    <div class="main-content__body-partner">
        <div class="container">
            <div class="title title--center">
                <h2>
                    đối tác của chúng tôi
                </h2>
            </div>
            <div class="row">
                <div class="partner-slide">
                    {% for item in site.data.main-partner %}
                    <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                        <div class="partner_img">
                            <img src="{{item.img_path}}">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- PARTNER END -->
</div>