---
layout: manage
permalink: manage-password.html
title: Thay đổi mật khẩu
page-title: Thay đổi mật khẩu
---

<div id="manage-password">
    <div class="profile-main">
        <form action="#" method="post">
            <div class="form-panel">
                <!-- GROUP START -->
                <div class="panel">
                    <!-- TITLE START -->
                    <div class="panel-title">
                        <h2>
                            Thay đổi mật khẩu
                        </h2>
                    </div>
                    <!-- TITLE END -->

                    <!-- BODY START -->
                    <div class="panel-body">

                        <!-- OLD PASSWORD START -->
                        <div class="form-group">
                            <input type="password" class="form-control" name="old-password" required
                                placeholder="Mật khẩu cũ">
                        </div>
                        <!-- OLD PASSWORD END -->

                        <!-- PARAGRAPH START -->
                        <div class="form-group">
                            <div class="paragraph">
                                <p>
                                    Nếu bạn quên mật khẩu hoặc đăng nhập bằng Facebook, Google mà không
                                    cần đăng ký thì hãy thoát khỏi tài khoản,
                                    sau đó sử dụng chức năng lấy lại mật khẩu để lấy mật khẩu hiện tại.
                                </p>
                            </div>
                        </div>
                        <!-- PARAGRAPH END -->

                        <!-- NEW PASSWORD START -->
                        <div class="form-group">
                            <input type="password" class="form-control" name="new-pasword" required
                                placeholder="Mật khẩu mới">
                        </div>
                        <!-- NEW PASSWORD END -->

                        <!-- CONFIRM PASSWORD START -->
                        <div class="form-group">
                            <input type="password" class="form-control" name="confirm-password" required
                                placeholder="Nhập lại mật khẩu mới">
                        </div>
                        <!-- CONFIRM PASSWORD END -->

                    </div>
                    <!-- BODY END -->

                </div>
                <!-- GROUP END -->

            </div>

            <!-- BUTTON START -->
            <div class="form-group form-group--btn">
                <button type="submit" class="btn btn-primary btn-large">
                    Lưu lại
                </button>
            </div>
            <!-- BUTTON END -->


        </form>
    </div>
</div>