---
layout: manage
permalink: manage-post.html
title: Quản lý đăng tin
page-title: Quản lý đăng tin
---


<div id="manage-post">
    <div class="profile-main">
        <form action="#" method="post">
            <div class="form-panel">
                <!-- GROUP START -->
                <div class="panel">
                    <!-- TITLE START -->
                    <div class="panel-title">
                        <h2>
                            Quản lý đăng tin
                        </h2>
                    </div>
                    <!-- TITLE END -->

                    <!-- BODY START -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <!-- TABLE TITLE START -->
                                <thead>
                                    <tr>
                                        <th>
                                            <span>
                                                STT
                                            </span>
                                        </th>
                                        <th>
                                            <span>
                                                MÃ tin
                                            </span>
                                        </th>
                                        <th>
                                            <span>
                                                Tiêu đề
                                            </span>
                                        </th>
                                        <th>
                                            <span>
                                                Ngày đăng tin
                                            </span>
                                        </th>
                                        <th>
                                            <span>
                                                Ngày hết hạn
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <!-- TABLE TITLE END -->

                                <!-- TABLE BODY START -->
                                <tbody>
                                    <tr>
                                        <td>
                                            <span>
                                                01
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                NT123
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                Bán căn hộ đường Trường Thi
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                01/02/2021
                                            </span>
                                        </td>
                                        <td>
                                            <span>
                                                01/02/2022
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                                <!-- TABLE BODY END -->
                            </table>
                        </div>
                    </div>
                    <!-- BODY END -->

                </div>
                <!-- GROUP END -->
            </div>
        </form>
    </div>
</div>