---
layout: manage
permalink: manage-profile.html
title: Thay đổi thông tin cá nhân
page-title: Thay đổi thông tin cá nhân
---
<div id="manage-profile">
    <div class="profile-main">
        <form action="#" method="post">
            <div class="form-panel">
                <!-- GROUP START -->
                <div class="panel">
                    <!-- TITLE START -->
                    <div class="panel-title">
                        <h2>
                            Thông tin cá nhân
                        </h2>
                    </div>
                    <!-- TITLE END -->

                    <!-- BODY START -->
                    <div class="panel-body">
                        <div class="row">
                            <!-- INPUT NAME START -->
                            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Họ và tên (*)"
                                        value="" required />
                                </div>
                            </div>
                            <!-- INPUT NAME END -->

                            <!-- INPUT GENDER START -->
                            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                <div class="form-group">
                                    <label>
                                        Giới tính
                                    </label>

                                    <div class="form-group__inner">
                                        <label>Nam</label>
                                        <input type="radio" name="gender" checked value="1">
                                    </div>
                                    <div class="form-group__inner">
                                        <label>Nữ</label>
                                        <input type="radio" name="gender" value="0">
                                    </div>
                                </div>
                            </div>
                            <!-- INPUT GENDER END -->

                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <div class="form-group">
                                    <input type="date" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <!-- SELECT CITY START -->
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                <div class="form-group">
                                    <select class="form-control" name="city">
                                        <option>Tỉnh/Thành phố</option>
                                        {% for item in site.data.main-city-list %}
                                        <option>
                                            <label>
                                                {{item.text}}
                                            </label>
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- SELECT CITY END -->

                            <!-- SELECT DISTRICT START -->
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                <div class="form-group">
                                    <select class="form-control" name="district">
                                        <option>Quận/huyện</option>
                                        {% for item in site.data.main-city-list %}
                                        <option>
                                            <label>
                                                {{item.text}}
                                            </label>
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- SELECT DISTRICT END -->

                            <!-- SELECT DISTRICT START -->
                            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 col-xxl-4">
                                <div class="form-group">
                                    <select class="form-control" name="ward">
                                        <option>Phường/xã</option>
                                        {% for item in site.data.main-city-list %}
                                        <option>
                                            <label>
                                                {{item.text}}
                                            </label>
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- SELECT DISTRICT END -->

                        </div>
                    </div>
                    <!-- BODY END -->

                </div>
                <!-- GROUP END -->

                <!-- GROUP START -->
                <div class="panel">
                    <!-- TITLE START -->
                    <div class="panel-title">
                        <h2>
                            Thông tin liên hệ
                        </h2>
                    </div>
                    <!-- TITLE END -->

                    <!-- BODY START -->
                    <div class="panel-body">

                        <!-- INPUT PHONE START -->
                        <div class="form-group">
                            <input type="text" class="form-control" name="phone" placeholder="Số điện thoai chính" />
                        </div>
                        <!-- INPUT PHONE END -->

                        <!-- INPUT EMAIL START -->
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email" />
                        </div>
                        <!-- INPUT EMAIL END -->

                        <!-- INPUT FACEBOOK START -->
                        <div class="form-group">
                            <input type="text" class="form-control" name="facebook" placeholder="Facebook" />
                        </div>
                        <!-- INPUT FACEBOOK END -->

                        <!-- INPUT SKYPE START -->
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Skype" />
                        </div>
                        <!-- INPUT SKYPE END -->

                    </div>
                    <!-- BODY END -->

                </div>
                <!-- GROUP END -->
            </div>

            <!-- BUTTON START -->
            <div class="form-group form-group--btn">
                <button type="submit" class="btn btn-primary btn-large">
                    Lưu lại
                </button>
            </div>
            <!-- BUTTON END -->


        </form>
    </div>
</div>