---
layout: manage
permalink: manage-post-news.html
title: Đăng tin
page-title: Đăng tin
---

<div id="manage-post">
    <div class="profile-main">
        <form class="box" action="#" method="post" enctype="multipart/form-data">
            <!-- BODY START -->
            <div class="form-panel">
                <!-- GROUP START -->
                <div class="panel">
                    <!-- TITLE START -->
                    <div class="panel-title">
                        <h2>
                            Thông tin cơ bản
                        </h2>
                    </div>
                    <!-- TITLE END -->

                    <!-- BODY START -->
                    <div class="panel-body">

                        <div class="form-group">
                            <input class="form-control" name="title" required placeholder="Tiêu đề (*)" />
                        </div>

                        <!-- ROW 1 START -->
                        <div class="row">
                            <!-- INPUT NAME START -->
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="form-group">
                                    <select class="form-control" name="formal" required>
                                        <option value="">Hình thức (*)</option>
                                        {% for item in site.data.main-city-list %}
                                        <option>
                                            <label>
                                                {{item.text}}
                                            </label>
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- INPUT NAME END -->

                            <!-- INPUT NAME START -->
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="form-group">
                                    <select class="form-control" name="type" required>
                                        <option value="">Loại (*)</option>
                                        {% for item in site.data.main-city-list %}
                                        <option>
                                            <label>
                                                {{item.text}}
                                            </label>
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- INPUT NAME END -->


                        </div>
                        <!-- ROW 1 END -->

                        <!-- ROW 2 START -->
                        <div class="row">
                            <!-- INPUT NAME START -->
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="form-group">
                                    <select class="form-control" name="province" required>
                                        <option value="">Tỉnh Thành phố (*)</option>
                                        {% for item in site.data.main-city-list %}
                                        <option>
                                            <label>
                                                {{item.text}}
                                            </label>
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- INPUT NAME END -->

                            <!-- INPUT NAME START -->
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="form-group">
                                    <select class="form-control" name="district" required>
                                        <option value="">Quận/huyện (*)</option>
                                        {% for item in site.data.main-city-list %}
                                        <option>
                                            <label>
                                                {{item.text}}
                                            </label>
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- INPUT NAME END -->
                        </div>
                        <!-- ROW 1 END -->


                        <!-- ROW 3 START -->
                        <div class="row">
                            <!-- INPUT NAME START -->
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="form-group">
                                    <select class="form-control" name="ward" required>
                                        <option value="">Phường/Xã</option>
                                        {% for item in site.data.main-city-list %}
                                        <option>
                                            <label>
                                                {{item.text}}
                                            </label>
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- INPUT NAME END -->

                            <!-- INPUT NAME START -->
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="form-group">
                                    <select class="form-control" name="street">
                                        <option>Đường/phố (*)</option>
                                        {% for item in site.data.main-city-list %}
                                        <option>
                                            <label>
                                                {{item.text}}
                                            </label>
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <!-- INPUT NAME END -->
                        </div>
                        <!-- ROW 3 END -->

                        <!-- ROW 4 START -->
                        <div class="row">
                            <!-- INPUT NAME START -->
                            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="project-name"
                                        placeholder="Tên dự án" />
                                </div>
                            </div>
                            <!-- INPUT NAME END -->

                            <!-- INPUT NAME START -->
                            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                <div class="form-group">
                                    <input type="number" class="form-control" min="1" value="" name="square"
                                        placeholder="Diện tích (m2)" />
                                </div>
                            </div>
                            <!-- INPUT NAME END -->
                        </div>
                        <!-- ROW 4 END -->

                        <!-- ROW 5 START -->
                        <div class="form-group">
                            <input type="number" name="price" min="1000000" class="form-control"
                                placeholder="Giá tiền(VND)" />
                        </div>
                        <!-- ROW 5 EMD -->

                        <!-- ROW 6 START -->
                        <div class="form-group">
                            <input type="text" name="address" required class="form-control" placeholder="Địa chỉ (*)" />
                        </div>
                        <!-- ROW 6 END -->
                    </div>
                </div>
                <!-- GROUP END -->

                <!-- GROUP START -->
                <div class="panel">
                    <!-- TITLE START -->
                    <div class="panel-title">
                        <h2>
                            Thông tin mô tả
                        </h2>
                    </div>
                    <!-- TITLE END -->

                    <!-- BODY START -->
                    <div class="panel-body">

                        <div class="form-group">
                            <textarea class="form-control" name="description" required maxlength="3000"
                                placeholder="Thêm mô tả (tối đa 3000 từ) (*)"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="paragraph">
                                <p>
                                    <b>Ví dụ: </b> Giới thiệu về bất động sản của bạn. Ví dụ: Khu nhà có vị trí thuận
                                    lợi
                                    Gần công viên, trường học... Tổng diện tích 52m<sup>2</sup>, đường đi ô tô vào tận
                                    cửa.
                                    Lưu ý: tin rao chỉ để mệnh giá tiền VIệt Nam Đồng.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- GROUP END -->

                <!-- GROUP START -->
                <div class="panel">
                    <!-- TITLE START -->
                    <div class="panel-title">
                        <h2>
                            Thông tin khác
                        </h2>
                    </div>
                    <!-- TITLE END -->

                    <!-- BODY START -->
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="form-group">
                                    <input type="number" name="face-width" min="1" placeholder="Mặt tiền (m2)"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="form-group">
                                    <input type="number" name="way-come-in" min="1" placeholder="Đường vào rộng (m2)"
                                        class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            Hướng nhà
                                        </option>
                                        {% for item in site.data.main-direction %}
                                        <option>
                                            {{item.text}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="form-group">
                                    <input type="number" name="floors" min="1" placeholder="Số tầng"
                                        class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="form-group">
                                    <input type="number" name="bed-rooms" min="1" placeholder="Số phòng ngủ"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                <div class="form-group">
                                    <input type="number" name="bath-rooms" min="1" placeholder="Số toilet"
                                        class="form-control" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="furniture" required maxlength=""
                                placeholder="Nội thất bao gồm"></textarea>
                        </div>
                    </div>
                    <!-- BODY END -->

                </div>
                <!-- GROUP END -->

                <!-- GROUP START -->
                <div class="panel">
                    <!-- TITLE START -->
                    <div class="panel-title">
                        <h2>
                            Đăng hình ảnh
                        </h2>
                    </div>
                    <!-- TITLE END -->

                    <!-- BODY START -->
                    <div class="panel-body">

                        <!-- DRAG START -->
                        <div class="form-group">
                            <div class="drop-zone">
                                <div class="drop-zone__prompt">
                                    <p>Kéo thả ảnh vào đây</p>
                                    <label>Hoặc chọn ảnh, video từ...</label>
                                    <div class="btn btn-primary btn-large">
                                        Chọn file để đăng
                                        </d>
                                    </div>
                                    <!-- <div class="drop-zone__thumb" data-label="myfile.txt"> -->
                                    <input type="file" name="myFile" id="" multiple class="drop-zone__input">
                                </div>
                            </div>
                            <!-- DRAG STOP -->
                        </div>

                        <!-- PARAGRAPH START -->
                        <div class="form-group">
                            <div class="paragraph">
                                <p>
                                    <b>Lưu ý: </b> Tối đa 8 ảnh với tin thường và 16 ảnh với tin VIP. Mỗi ảnh tối đa 2MB
                                    Tin rao có trên 5 ảnh sẽ được liên hệ nhiều hơn so với các tin khác.
                                    Hãy đăng nhiều ảnh để giao dịch nhanh chóng!
                                </p>
                            </div>
                        </div>
                        <!-- PARAGRAPH STOP -->

                    </div>
                    <!-- BODY END -->

                    <!-- GROUP START -->
                    <div class="panel">
                        <!-- TITLE START -->
                        <div class="panel-title">
                            <h2>
                                Thông tin liên hệ
                            </h2>
                        </div>
                        <!-- TITLE END -->

                        <!-- BODY START -->
                        <div class="panel-body">

                            <div class="form-group">
                                <input type="text" name="contact-name" class="form-control" placeholder="Tên liên hệ" />
                            </div>

                            <div class="form-group">
                                <input type="text" name="contact-address" class="form-control" placeholder="Địa chỉ" />
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <div class="form-group">
                                        <input type="text" name="contact-phone" placeholder="Điện thoại"
                                            class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <div class="form-group">
                                        <input type="email" name="contact-email" placeholder="Email"
                                            class="form-control" />
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- BODY END -->

                    </div>
                    <!-- GROUP END -->

                    <!-- GROUP START -->
                    <div class="panel">
                        <!-- TITLE START -->
                        <div class="panel-title">
                            <h2>
                                Lịch đăng tin
                            </h2>
                        </div>
                        <!-- TITLE END -->

                        <!-- BODY START -->
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                    <div class="form-group">
                                        <select name="news-type" class="form-control">
                                            <option>
                                                Loại tin
                                            </option>
                                            {% for item in site.data.news-type %}
                                            <option>
                                                {{item.text}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                    <div class="form-group">
                                        <input placeholder="Ngày bắt đầu" name="date-start"
                                            class="textbox-n form-control" type="text" onfocus="(this.type='date')">
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                    <div class="form-group">
                                        <input placeholder="Ngày kết thúc" name="date-end"
                                            class="textbox-n form-control" type="text" onfocus="(this.type='date')">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group form-group--para">
                                <div class="paragraph">
                                    <p>
                                        <b>Đơn giá: </b> 1500 VNĐ/Ngày
                                    </p>
                                    <p>
                                        <b>Số ngày: </b> 31 ngày
                                    </p>
                                </div>
                            </div>

                            <div class="form-group form-group--para">
                                <div class="paragraph">
                                    <p>
                                        <b>Lưu ý: </b> Quý khách nên chọn đăng tin VIP để có
                                        hiệu quả cao hơn, ví dụ: Tin Vip1 có lượt xem trung bình cao
                                        hơn 20 lần so với tin thường
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- BODY END -->

                    </div>
                    <!-- GROUP END -->

                    <!-- GROUP START -->
                    <div class="panel">
                        <!-- TITLE START -->
                        <div class="panel-title">
                            <h2>
                                Thành tiền
                            </h2>
                        </div>
                        <!-- TITLE END -->

                        <!-- BODY START -->
                        <div class="panel-body">

                            <div class="row">

                                {% for item in site.data.news-item %}
                                <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                                    <div class="form-group">
                                        <div class="item">
                                            <div class="title">
                                                <p>
                                                    {{item.text}}
                                                </p>
                                            </div>
                                            <div class="body">
                                                <p>
                                                    {{item.price}}VND
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>

                        </div>
                        <!-- BODY END -->

                    </div>
                    <!-- GROUP END -->
                </div>
                <!-- GROUP END -->

                <!-- BUTTON START -->
                <div class="form-group form-group--btn">
                    <button type="submit" class="btn btn-primary btn-large">
                        Đăng tin
                    </button>
                </div>
                <!-- BUTTON END -->
        </form>

    </div>
    <!-- BODY END -->

</div>
</div>
</div>