---
layout: page
permalink: news.html
title: Tin tức bất động sản
page-title: Tin tức bất động sản
---
<div class="news-content__body">
    <div class="container">
        <div class="row">
            <!-- NEWS MAIN START -->
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">

                <!-- LIST ITEM START -->
                <div class="news-content__body-list">
                    <div class="row">
                        {% for item in site.data.blog-item %}
                        <!-- ITEM START -->
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <div class="news-item">
                                <div class="news-item__inner">
                                    <!-- IMG START -->
                                    <div class="news-item__inner-img">
                                        <img src="{{item.img_path}}" alt="img">
                                    </div>
                                    <!-- IMG END -->

                                    <!-- CONTENT START -->
                                    <div class="content">

                                        <!-- NAME START -->
                                        <div class="name">
                                            <a href="#">
                                                {{item.name}}
                                            </a>
                                        </div>
                                        <!-- NAME END -->

                                        <!-- INFO START -->
                                        <div class="info">
                                            <span>{{item.auth}}</span>
                                            <span>{{item.date}}</span>
                                        </div>
                                        <!-- INFO END -->

                                        <!-- DESC START -->
                                        <div class="desc">
                                            <p>
                                                {{item.desc}}
                                            </p>
                                        </div>
                                        <!-- DESC END -->
                                    </div>
                                    <!-- CONTENT END -->
                                </div>
                            </div>
                        </div>
                        <!-- ITEM END -->
                        {% endfor %}
                    </div>
                </div>
                <!-- LIST ITEM END -->

                <!-- PAGINATION START -->
                <div id="pagination" class="pagination">
                    <ul>
                        <li class="active">
                            <a href="#">
                                <span>
                                    1
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <span>
                                    2
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <span>
                                    3
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#">
                                <span>
                                    4
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- PAGINATION END -->
            </div>
            <!-- NEWS MAIN END -->

            <!-- NEWS SIDEBAR START -->
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="news-content__body-sidebar">

                    <!-- CATEGORIES START -->
                    <div class="news-sidebar news-sidebar__categories">

                        <!-- TITLE START -->
                        <div class="title-label">
                            <p>
                                Danh mục
                            </p>
                        </div>
                        <!-- TITLE END -->

                        <!-- CONTENT START -->
                        <div class="categories-content">
                            <ul>
                                {% for item in site.data.news-categories %}
                                <li>
                                    <a href="news-details.html">
                                        <div class="text">
                                            <span>
                                                {{item.text}}
                                            </span>
                                            <span>
                                                {{item.num}}
                                            </span>
                                        </div>
                                        <i class="fas fa-angle-right"></i>
                                    </a>

                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                        <!-- CONTENT END -->
                    </div>
                    <!-- CATEGORIES END -->

                    <!-- TOP VIEWS START -->
                    <div class="news-sidebar news-sidebar__top-views">
                        <!-- TITLE START -->
                        <div class="title-label">
                            <p>
                                Bài xem nhiều nhât
                            </p>
                        </div>
                        <!-- TITLE END -->

                        <!-- CONTENT START -->
                        <div class="top-views__content">
                            <ul>
                                {% for item in site.data.news-top-views %}
                                <li>
                                    <div class="img">
                                        <img src="{{item.img_path}}" alt="img">
                                    </div>
                                    <div class="content">
                                        <div class="name">
                                            <a href="news-details.html">
                                                {{item.name}}
                                            </a>
                                        </div>
                                        <div class="info">
                                            <span>
                                                Amin, 02/11/2018
                                            </span>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- CONTENT END -->

                    </div>
                    <!-- TOP VIEWS END -->

                    <!-- TOP CARE START -->
                    <div class="news-sidebar news-sidebar__top-care">
                        <div class="title-label">
                            <p>
                                BĐS quan tâm nhất
                            </p>
                        </div>
                        <div class="top-care__content">
                            <ul>
                                {% for item in site.data.news-care %}
                                <li>
                                    <div class="item">
                                        <!-- IMG START -->
                                        <div class="item-img">
                                            <img src="{{item.img_path}}">
                                            <span>
                                                {{item.sticker}}
                                            </span>
                                            <label>
                                                {{item.label}}
                                            </label>
                                        </div>
                                        <!-- IMG END -->

                                        <!-- CONTENT START -->
                                        <div class="item-content">
                                            <!-- NAME START -->
                                            <div class="name">
                                                <a href="#">
                                                    {{item.title}}
                                                </a>
                                            </div>
                                            <!-- NAME END -->

                                            <!-- TABLE START -->
                                            <div class="table">
                                                <table>
                                                    <tr>
                                                        <td class="label">
                                                            <span>
                                                                Giá
                                                            </span>
                                                        </td>
                                                        <td class="content">
                                                            : 140 triệu/m<sup>2</sup>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="label">
                                                            <span>
                                                                Diện tích
                                                            </span>
                                                        </td>
                                                        <td class="content">
                                                            : 140/m<sup>2</sup>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td class="label">
                                                            <span>
                                                                Quận/huyện
                                                            </span>
                                                        </td>
                                                        <td class="content">
                                                            : Trường thi, Tp Vinh, Nghệ An
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!-- TABLE END -->

                                        </div>
                                        <!-- CONTENT END -->

                                        <!-- INFO START -->
                                        <div class="item-info">
                                            <div class="info-part">
                                                <i class="fas fa-user"></i>
                                                <span>
                                                    Nguyễn Hoàng Bách
                                                </span>
                                            </div>
                                            <div class="info-part">
                                                <i class="fad fa-calendar-alt"></i>
                                                <span>
                                                    01/11/2018
                                                </span>
                                            </div>
                                        </div>
                                        <!-- INFO END -->
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- TOP CARE END -->

                </div>
            </div>
            <!-- NEWS SIDEBAR END -->
        </div>
    </div>
</div>