<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="footer-item">
                        <div class="title title--border">
                            <h6>
                                Về chúng tôi
                            </h6>

                        </div>
                        <div class="paragraph">
                            <p>
                                Bạn sẽ được tiếp cận danh mục tin đăng
                                rất đa dạng và phong phú với đủ
                                loại dịch vụ mua, bán, thuê, cho thuê,
                                danh sách các đại lí bất động sản
                                chuyên nghiệp và các chuyên gia đầy đủ chuyên môn
                            </p>
                        </div>
                        <div class="footer-list__social">
                            <ul>
                                {% for item in site.data.header-socials %}
                                <li>
                                    <a href="{{item.class}}">
                                        {{item.icon}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="footer-item">
                        <div class="title title--border">
                            <h6>
                                Thông tin liên hệ
                            </h6>

                        </div>
                        <div class="paragraph">
                            <p>
                                Văn phòng chính: Khu liền kề 7, đường Duy Tân, Tp Vinh, Tỉnh Nghệ An
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>
                                Phone: (+84).02386.556.388 hoặc (+84)02383.560.242
                            </p>
                        </div>
                        <div class="paragraph">
                            <p>
                                Email: lienhe@fgc.vn
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="footer-item">
                        <div class="title title--border">
                            <h6>
                                Liên kết
                            </h6>

                        </div>
                        <div class="link">
                            <ul>
                                {% for item in site.data.footer-link %}
                                <li>
                                    <a href="#">
                                        <i class="fas fa-caret-right"></i>
                                        {{item.text}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="footer-item">
                        <div class="title title--border">
                            <h6>
                                Đăng kí thông tin
                            </h6>

                        </div>
                        <div class="paragraph">
                            <p>
                                Theo dõi bản tin hàng tuần của chúng tôi để nhận được những phần thưởng
                                miễn phí mới nhất trong hộp thư đến của bạn
                            </p>
                        </div>
                        <form>
                            <div class="form-group">
                                <div class="form-group__inner">
                                    <input name="email" type="email" class="form-control"
                                        placeholder="Tên Email của bạn" required />
                                    <button type="submit" class="btn btn-warning btn-large">
                                        Nhận thông tin
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="auth">
        <span>
            © Copyright FGC techlution 2018 .All Rights Reserved.
        </span>
    </div>
</footer>