<header>
    <div class="header">
        <!-- HEADER NAV START -->
        <div class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <!-- HEADER LEFT START -->
                        <div class="header-body__inner">
                            <!-- LIST ICON SOCIALS NETWORK START -->
                            <div class="header-body__inner-text">
                                <ul>
                                    {% for item in site.data.header-socials %}
                                    <li>
                                        <a href="{{item.class}}.com">
                                            {{item.icon}} </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <!-- LIST ICON SOCIALS NETWORK END -->

                            <!-- NUMBER PHONE START -->
                            <div class="header-body__inner-text">
                                <p>
                                    <i class="fas fa-phone-alt"></i>
                                    <span> hot line: *(+84) 123.456.789 </span>
                                </p>
                            </div>
                            <!-- NUMBER PHONE END -->
                        </div>
                        <!-- HEADER LEFT END -->
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <!-- HEADER RIGHT START -->
                        <div class="header-body__inner">
                            <div class="inner-text__wraps">
                                <span id="login" class="header-text
                                    header-text--separate">
                                    đăng nhập
                                </span>
                                <span id="register" class="header-text"> đăng kí
                                </span>
                            </div>
                        </div>
                        <!-- HEADER RIGHT END -->
                    </div>
                </div>
            </div>
        </div>
        <!-- HEADER NAV END -->

        <!-- HEADER MENU START -->
        <div class="header-menu">
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <!-- LOGO START -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-2
                            col-xl-2 col-xxl-2 navbar-item bavabar-item__logo">
                            <a class="navbar-brand" href="index.html">MuaBánĐất</a>
                        </div>
                        <!-- LOGO END -->

                        <!-- LIST ITEM START -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7
                            col-xl-7 col-xxl-7 navbar-item">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    {% for item in site.data.header-list-page %}
                                    <li class="nav-item {% if item.link ==
                                        page.permalink %} active {% endif %}">
                                        <a class="nav-link" href="{{item.link}}"> {{item.text}}
                                        </a>
                                    </li>
                                    {% endfor %}
                                    <li class="nav-item responsive {% if
                                        item.link == page.permalink %} active {%
                                        endif %}">
                                        <a class="nav-link" href="manage-post-news.html"> Đăng
                                            tin </a>
                                    </li>
                                    <li class="nav-item responsive {% if
                                        item.link == page.permalink %} active {%
                                        endif %}">
                                        <a class="nav-link" href="#"> Nạp tiền
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- LIST ITEM END -->

                        <!-- BTN START -->
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3
                            col-xl-3 col-xxl-3 navbar-item">
                            <div class="navbar-button">
                                {% for item in site.data.header-btn %}
                                <a href="{{item.link}}" class="btn
                                    btn-{{item.class}}">
                                    {{item.icon}}
                                    <span>{{item.text}}</span>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- BTN END -->

                    </nav>
                </div>
            </div>
        </div>
        <!-- HEADER MENU END -->


    </div>
</header>