<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{page.title}}</title>
<!-- BOOTSTRAP 5 -->
<link
  rel="stylesheet"
  type="text/css"
  href="assets/bootstrap/css/bootstrap.min.css"
/>

<!-- FANCY-BOX -->
<link
  rel="stylesheet"
  type="text/css"
  href="assets/fancybox-master/dist/jquery.fancybox.min.css"
/>

<!-- FONT-AWESOME -->
<link
  rel="stylesheet"
  type="text/css"
  href="assets/font-awesome/css/all.min.css"
/>
<!-- FONT FAMILY -->
<!-- using Montserrat and Roboto font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet"
/>

<!-- ION RANGER -->
<link
  rel="stylesheet"
  type="text/css"
  href="assets/ion-ranger/css/ion.rangeSlider.min.css"
/>

<!-- SLICK -->
<link rel="stylesheet" type="text/css" href="assets/slick/slick/slick.css" />

<!-- CSS LOCAL FILE -->
<link rel="stylesheet" type="text/css" href="assets/css/reset.css" />
<link rel="stylesheet" type="text/css" href="assets/css/style.css" />
