<!-- FORM START -->
<div class="auth-main__form auth-main__form--login">
    <div class="auth-main__form-inner">
        <!-- REGISTER FORM START -->
        <form class="" action="#" method="post">


            <!-- FORM BODY START -->
            <div class="form-body">
                <!-- TITLE START -->
                <div class="form-group">'

                    <div class="title">
                        <h2>
                            đăng nhập
                        </h2>
                    </div>

                    <div id="close-login" class="close">
                        <i class="fas fa-times"></i>
                    </div>

                </div>
                <!-- TITLE END -->

                <!-- INPUT NAME START -->
                <div class="form-group">
                    <div class="form-group-inner">
                        <div class="input-symbol form-control">
                            <i class="fas fa-user"></i>
                        </div>
                        <input type="text" required name="user-name" placeholder="Tên đăng nhập" />
                    </div>
                </div>
                <!-- INPUT NAME END -->



                <!-- INPUT PASSWORD START -->
                <div class="form-group">
                    <div class="form-group-inner">
                        <div class="input-symbol form-control">
                            <i class="fas fa-lock"></i>
                        </div>
                        <input id="password" type="password" required name="password" placeholder="Mật khẩu" />
                        <i id="show-pass" class="fas fa-eye"></i>
                    </div>
                </div>
                <!-- INPUT PASSWORD END -->





                <!-- BUTTON START -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-large">
                        Đăng nhập
                    </button>
                </div>
                <!-- BUTTON END -->

                <!-- REMEMBER PASSWORD START -->
                <div class="form-group">
                    <div class="remember-pass">
                        <div class="input">
                            <input type="checkbox" name="remember_pass">
                            <label>Nhớ mật khẩu</label>
                        </div>
                        <a href="#">
                            <span>
                                Quên mật khẩu
                            </span>
                        </a>
                    </div>
                </div>
                <!-- REMEMBER PASSWORD END-->


                <!-- LOGIN WITH START -->
                <div class="form-group">
                    <div class="login-with">

                        <a href="#" class="btn login btn-facebook">
                            <span>
                                <i class="fab fa-facebook-f"></i>
                            </span>
                            <p>
                                Đăng nhập qua Facebook
                            </p>
                        </a>
                        <a href="#" class="btn login btn-google">
                            <span>
                                <i class="fab fa-google"></i>
                            </span>
                            <p>
                                Đăng nhập qua Google
                            </p>
                        </a>
                    </div>
                </div>
                <!-- LOGIN WITH END -->

            </div>
            <!-- FORM BODY END -->

            <!-- REDIRECT START -->
            <div class="form-group">
                <div class="redirect">
                    <span>Chưa là thành viên? </span> <a id="redirect-register" href="#">Đăng ký</a>
                </div>
            </div>
            <!-- REDIRECT END -->

        </form>
        <!-- REGISTER FORM END -->
    </div>
</div>
<!-- FORM END -->