<!-- FORM START -->
<div class="auth-main__form auth-main__form--register">
    <div class="auth-main__form-inner">
        <!-- REGISTER FORM START -->
        <form class="" action="#" method="post">


            <!-- FORM BODY START -->
            <div class="form-body">
                <!-- TITLE START -->
                <div class="form-group">
                    <div class="title">
                        <h2>
                            đăng kí tài khoản
                        </h2>
                    </div>

                    <div id="close-register" class="close">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <!-- TITLE END -->

                <!-- INPUT NAME START -->
                <div class="form-group">
                    <input type="text" class="form-control" required name="user-name" placeholder="Tên đăng nhập" />
                </div>
                <!-- INPUT NAME END -->

                <!-- INPUT EMAIL START -->
                <div class="form-group">
                    <input type="email" class="form-control" required name="email" placeholder="Địa chỉ Email" />
                </div>
                <!-- INPUT EMAIL END -->

                <!-- INPUT PASSWORD START -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pl-0">
                            <div class="form-group">
                                <input type="password" class="form-control" required name="password"
                                    placeholder="Mật khẩu" />
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pr-0">
                            <div class="form-group">
                                <input type="password" class="form-control" required name="confirm-password"
                                    placeholder="Nhập lại mật khẩu" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- INPUT PASSWORD END -->

                <!-- INPUT FULL NAME START -->
                <div class="form-group">
                    <input type="text" class="form-control" required name="full-name" placeholder="Tên đầy đủ" />
                </div>
                <!-- INPUT FULL NAME END -->

                <!-- INPUT DATE OF BIRTH START -->
                <div class="form-group">
                    <input placeholder="Ngày tháng năm sinh" class="textbox-n form-control" name="date" type="text"
                        onfocus="(this.type='date')" id="date">
                </div>
                <!-- INPUT DATE OF BIRTH END -->

                <!-- INPUT ADDRESS START -->
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pl-0">
                            <div class="form-group">
                                <select class="form-control" name="province">
                                    <option>
                                        Tỉnh/Thành phố
                                    </option>
                                    {% for item in site.data.main-city-list %}
                                    <option>
                                        {{item.text}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 pl-0">
                            <div class="form-group">
                                <select class="form-control" name="province">
                                    <option>
                                        Tỉnh/Thành phố
                                    </option>
                                    {% for item in site.data.main-city-list %}
                                    <option>
                                        {{item.text}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- INPUT ADDRESS END -->

                <!-- BUTTON START -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-large">
                        Đăng ký
                    </button>
                </div>
                <!-- BUTTON END -->

                <!-- NOTE START -->
                <div class="form-group">
                    <div class="paragraph">
                        <p>
                            <b>Chú ý: </b> thông tin Tên đăng nhập, Email, Số điện thoại di động không thể thay đổi sau
                            khi đăng ký
                        </p>
                    </div>
                </div>
                <!-- NOTE END -->

            </div>
            <!-- FORM BODY END -->

            <!-- REDIRECT START -->
            <div class="form-group">
                <div class="redirect">
                    <span>Đã là thành viên? </span> <a id="redirect-login" href="#">Đăng nhập</a>
                </div>
            </div>
            <!-- REDIRECT END -->

        </form>
        <!-- REGISTER FORM END -->
    </div>
</div>
<!-- FORM END -->