<!-- DRAG JS -->
<script src="assets/js/drag.js"></script>
<!-- JQUERY -->
<script src="assets/js/jquery/jquery-3.2.1.min.js"></script>
<!-- BOOTSTRAP 5 -->
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- FANCY-BOX -->
<script src="assets/fancybox-master/dist/jquery.fancybox.min.js"></script>
<!-- FONT AWESOME -->
<script src="assets/font-awesome/js/pro.min.js"></script>
<!-- SLICK -->
<script src="assets/slick/slick/slick.min.js"></script>
<!-- ION RANGER -->
<script src="assets/ion-ranger/js/ion.rangeSlider.min.js"></script>
<!-- JS LOCAL FILE -->
<script src="assets/js/main.js"></script>