$primary-color: #071645;
$border-radius: 5px;
$transition-time: .3s;
$gold-color: #f99933;
$red-color: #f52828;
$white-color: #fff;
$text-color: #20143e;
$text-form-color: #3d3d3d;
$text-position-color: #595959;
$text-description-color: #acacac;
$background-color: #f3f3f3;
$border-color: #f0f0f0;
$facebook-color: #365493;
$twitter-color: #33ccff;
$basketball-color: #cb2027;
$instagram-color: #d44132;
$google-color: #d34836;

html {
    font-size: 62.5%;
}

$extra-small: 575px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1400px;

@mixin xs {
    @media (max-width: #{$extra-small}) {
        @content;
    }
}

@mixin sm {
    @media (max-width: #{$small}) {
        @content;
    }
}

@mixin md {
    @media (max-width: #{$medium}) {
        @content;
    }
}

@mixin lg {
    @media (max-width: #{$large}) {
        @content;
    }
}

@mixin xl {
    @media (max-width: #{$extra-large}) {
        @content;
    }
}

@mixin xxl {
    @media (max-width: #{$extra-extra-large}) {
        @content;
    }
}


@font-face {
    font-family: Helvetica;
    src: url('../assets/fonts/Helvetica/helveticaneue.ttf') format('truetype'),
        url('../assets/fonts/Helvetica/HelveticaNeue.otf') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.no-padding {
    padding: 0;
}

.btn {
    padding: 6px 7px;
}

.btn-large {
    padding: 16px 30px;
}

.btn-success {
    background-color: #6cbd31;
}

.btn-danger {
    background-color: #f52828;
}

.btn-warning {
    background-color: #f99933;
}

.btn-primary {
    background-color: #071645;
}

.pagination {
    margin-top: 37px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            width: 35px;
            height: 35px;
            background: $primary-color;
            margin-right: 10px;
            transition: $transition-time;

            &:hover {
                background: $gold-color;
            }

            &.active {
                background: $gold-color;
            }

            a {
                display: flex;
                width: 100%;
                height: 100%;
                text-decoration: none;

                span {
                    margin: auto;
                    font-size: 1.4rem;
                    color: $white-color;
                }
            }
        }
    }
}

.irs--round .irs-handle {
    border-color: $gold-color;
    cursor: pointer;
}

.irs--round .irs-bar {
    background-color: $gold-color;
}

.rent-item {
    width: 100%;
    height: auto;
    background: $white-color;
    padding: 18px;
    border-radius: $border-radius;
    margin-bottom: 16px;
    transition: $transition-time;
    background-color: $background-color;

    &:hover {
        box-shadow: rgba(7, 22, 69, 0.35) 0px 5px 15px;
    }


    .rent-item__inner {
        width: 100%;

        .rent-item__inner-img {
            height: 247px;
            position: relative;
            overflow: hidden;
            border-radius: $border-radius;
            margin-bottom: 29px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: $transition-time;
            }

            &:hover {
                img {
                    transform: scale(1.1);
                }
            }

            label {
                position: absolute;
                top: -12px;
                left: -40px;
                width: 100px;
                height: 50px;
                z-index: 1;
                background: $red-color;
                color: $white-color;
                display: flex;
                transform: rotate(-45deg);
                padding: 10px;
                align-items: flex-end;
                justify-content: center;

                span {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.3rem;

                }
            }

            .price {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                padding: 11px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;

                span {
                    border-radius: $border-radius;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.3rem;
                    color: $white-color;
                    text-transform: uppercase;
                    display: block;
                    padding: 5px 13px;
                    background: $red-color;
                }
            }

        }

        .rent-item__inner-content {
            .title {
                margin-bottom: 24px;

                h2 {
                    a {
                        text-decoration: none;
                        color: $text-color;
                        text-transform: uppercase;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.4rem;
                        font-weight: 600;
                        transition: $transition-time;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }

            .table {
                width: 100%;
                padding-bottom: 23px;
                border-bottom: 2px solid $text-description-color;

                table {
                    width: 100%;

                    tr {
                        border: none;

                        td {
                            font-size: 1.4rem;
                            font-family: 'Roboto', sans-serif;
                            line-height: 2.3rem;
                            color: $text-description-color;
                        }

                        .label {
                            font-weight: 600;
                            width: 30%;
                        }

                        .content {
                            font-weight: 500;
                            width: 70%;
                        }
                    }
                }
            }

            .description {
                display: flex;
                justify-content: space-between;

                .auth,
                .date {
                    display: flex;
                    align-items: center;
                    font-size: 1.4rem;
                    font-family: 'Roboto', sans-serif;
                    color: $text-description-color;
                    padding: 22px 0;

                    i {
                        margin-right: 5px;
                    }
                }

                a {
                    text-decoration: none;
                    color: unset;
                    transition: $transition-time;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

.main-content__body-rent {
    width: 100%;
    height: auto;
    margin: 97px 0 108px 0;

    @include xxl {
        margin-top: 50px;
    }

    @include lg {
        margin-top: 0px;
        margin-bottom: 30px;
    }

    @include md {
        margin-bottom: 20px;
    }

    .main-content__body-rent__container {
        margin-top: 45px;
    }

    .title {
        margin-bottom: 45px;
    }

    .rent-item {
        width: 100%;
        height: auto;
        background: $white-color;
        padding: 18px;
        border-radius: $border-radius;
        margin-bottom: 16px;
        transition: $transition-time;

        &:hover {
            box-shadow: rgba(7, 22, 69, 0.35) 0px 5px 15px;
        }


        .rent-item__inner {
            width: 100%;

            .rent-item__inner-img {
                height: 247px;
                position: relative;
                overflow: hidden;
                border-radius: $border-radius;
                margin-bottom: 29px;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transition: $transition-time;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                label {
                    position: absolute;
                    top: -12px;
                    left: -40px;
                    width: 100px;
                    height: 50px;
                    z-index: 1;
                    background: $red-color;
                    color: $white-color;
                    display: flex;
                    transform: rotate(-45deg);
                    padding: 10px;
                    align-items: flex-end;
                    justify-content: center;

                    span {
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.3rem;

                    }
                }

                .price {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    padding: 11px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-end;

                    span {
                        border-radius: $border-radius;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.3rem;
                        color: $white-color;
                        text-transform: uppercase;
                        display: block;
                        padding: 5px 13px;
                        background: $red-color;
                    }
                }

            }

            .rent-item__inner-content {
                .title {
                    margin-bottom: 24px;

                    h2 {
                        a {
                            text-decoration: none;
                            color: $text-color;
                            text-transform: uppercase;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 1.4rem;
                            font-weight: 600;
                            transition: $transition-time;

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }
                }

                .table {
                    width: 100%;
                    padding-bottom: 23px;
                    border-bottom: 2px solid $text-description-color;

                    table {
                        width: 100%;

                        tr {
                            border: none;

                            td {
                                font-size: 1.4rem;
                                font-family: 'Roboto', sans-serif;
                                line-height: 2.3rem;
                                color: $text-description-color;
                            }

                            .label {
                                font-weight: 600;
                                width: 30%;
                            }

                            .content {
                                font-weight: 500;
                                width: 70%;
                            }
                        }
                    }
                }

                .description {
                    display: flex;
                    justify-content: space-between;

                    .auth,
                    .date {
                        display: flex;
                        align-items: center;
                        font-size: 1.4rem;
                        font-family: 'Roboto', sans-serif;
                        color: $text-description-color;
                        padding: 22px 0;

                        i {
                            margin-right: 5px;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: unset;
                        transition: $transition-time;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }

}

.title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

    &--border {
        padding-bottom: 20px;
        position: relative;

        &::after {
            content: "";
            width: 55px;
            height: 2px;
            background-color: $gold-color;
            position: absolute;
            bottom: 0;
        }
    }

    &--center {
        padding-bottom: 20px;
        text-align: center;
        position: relative;

        &::after {
            content: "";
            width: 55px;
            height: 2px;
            background-color: #f99933;
            position: absolute;
            bottom: 0;
            right: 50%;
            transform: translateX(50%);
        }

    }

    &--characteristic {
        background-color: $gold-color;
        padding: 20px 0;
    }

    h1 {
        font-size: 2.2rem;
        font-weight: 700;
        color: $text-color;
        margin: 0;
    }

    h2 {
        font-size: 2.4rem;
        font-weight: 600;
        color: $text-color;
    }

    h3 {
        font-size: 3rem;
        color: $white-color;
        line-height: 3.6rem;
        font-weight: 600;
    }

    h4 {
        font-size: 2.4rem;
        font-weight: 600;
        color: $white-color;
    }

    h5 {
        font-size: 2.4rem;
        font-weight: 600;
        color: #000;
    }

    h6 {
        font-size: 1.8rem;
        font-weight: 500;
        color: $white-color;
    }

    .characteristic {
        font-size: 1.6rem;
        color: $text-color;
        font-weight: 600;
        text-align: center;
    }


}

.pb-20 {
    padding-bottom: 20px
}

.form-group {


    select {
        background-image: url(/assets/image/icon/dropdown.jpg);
        background-position-x: 96%;
        background-position-y: center;
        background-size: 14px;
        background-repeat: no-repeat;
        transition: $transition-time;
    }

    select.active {
        background-image: url(/assets/image/icon/dropup.jpg);

    }

    .main-ranger__slide-label {
        margin-top: 28px;

        span {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    .irs--round {
        height: 80px;
    }
}



@import 'header/style-header.scss';
@import 'body/style-body.scss';
@import 'footer/style-footer.scss';
@import 'auth/style-auth.scss';