footer {
    .footer {
        width: 100%;
        height: auto;
        padding: 80px 0;
        background: $primary-color;

        @include sm {
            padding: 20px 10px
        }

        .footer-item {
            padding-right: 55px;
            color: $white-color;

            .title {
                margin-bottom: 45px;

                @include md {
                    margin: 20px 0 10px 0;
                }
            }

            .paragraph {
                color: $white-color;
                margin-bottom: 29px;

                p {
                    margin: 0;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.4rem;
                    line-height: 2.8rem;
                }
            }

            .link {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        a {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.4rem;
                            line-height: 4rem;
                            color: $white-color;
                            transition: $transition-time;
                            text-decoration: none;

                            i {
                                color: $white-color;
                                margin-right: 10px;
                                transition: $transition-time;

                            }

                            &:hover {
                                color: $gold-color;

                                i {
                                    color: $gold-color;

                                }
                            }
                        }
                    }
                }
            }

            .form-group {
                .form-group__inner {
                    input {
                        padding: 19px 68px;
                        font-size: 1.4rem;
                        font-family: 'Roboto', sans-serif;
                        color: $text-description-color;
                        margin-bottom: 10px;
                    }

                    button {
                        width: 100%;
                        color: $white-color;
                        text-transform: uppercase;
                        font-family: 'Montserrat', sans-serif;
                        line-height: 2.4rem;
                        font-weight: 600;
                    }
                }
            }

            .footer-list__social {
                width: 100%;

                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    justify-content: flex-start;

                    li {
                        a {
                            text-decoration: none;
                            display: block;
                            margin-right: 48px;

                            i {
                                font-size: 1.4rem;
                                color: $white-color;
                                transition: $transition-time;
                            }

                            &:hover {
                                i {
                                    color: $gold-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .auth {
        // border-top: 1px solid $white-color;
        padding: 23px 0;
        text-align: center;
        background: #000e3a;

        span {
            color: #69718c;
            font-family: 'Roboto', sans-serif;
            font-size: 1.4rem;
        }
    }
}