header {
    .header {
        .header-nav {
            height: 50px;
            background: $primary-color;

            @include xs {
                height: auto;
            }

            .container {
                width: auto;
                height: 100%;

                .row {
                    width: auto;
                    height: 100%;
                }
            }

            .header-body__inner {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;

                @include md {
                    justify-content: center;
                }

                .header-body__inner-text {
                    width: auto;



                    ul {
                        list-style: none;
                        display: flex;
                        width: auto;
                        height: 100%;
                        align-items: center;
                        margin: 0;
                        padding: 0;
                        // justify-content: space-between;

                        li {
                            margin-right: 20px;

                            a {
                                color: $white-color;
                                font-size: 1.4rem;
                                transition: $transition-time;

                                @include sm {
                                    font-size: 1.2rem;
                                }

                                &:hover {
                                    color: $gold-color
                                }
                            }
                        }
                    }

                    p {
                        i {
                            color: $gold-color;
                        }

                        margin: 0;
                        color: $white-color;
                        text-transform: uppercase;
                        font-size: 1.3rem;
                        line-height: 24px;

                        @include sm {
                            font-size: 1.2rem;
                        }
                    }

                }

                .inner-text__wraps {
                    width: 100%;
                    height: 100%;
                    text-align: right;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    @include md {
                        justify-content: center;
                    }

                    .header-text {
                        color: $white-color;
                        text-transform: uppercase;
                        font-size: 1.3rem;
                        font-weight: 600;
                        display: block;
                        padding: 0 0 0 20px;
                        cursor: pointer;
                        transition: $transition-time;

                        &:hover {
                            color: $gold-color;
                        }

                        &--separate {
                            padding: 0 20px 0 0;
                            position: relative;

                            &::after {
                                content: "";
                                width: 1px;
                                height: 14px;
                                background-color: $white-color;
                                position: absolute;
                                top: 50%;
                                right: 0;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
            }
        }

        .header-menu {
            width: 100%;
            padding: 38px 0;

            @include lg {
                padding: 10px 0;
            }

            .navbar {
                @include xs {
                    padding-top: 0;
                }

                .navbar-item {
                    @include sm {
                        width: 100%;
                    }

                }

                .navbar-brand {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 3rem;
                    font-weight: 800;
                    color: $text-color;

                    @include xxl {
                        font-size: 2rem;
                    }

                    @include md {
                        margin: 0;
                        width: 100%;
                        display: block;
                        text-align: center;
                    }
                }

                .navbar-nav {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .nav-item {
                        transition: $transition-time;

                        &.responsive {
                            display: none;

                            @include lg {
                                display: block;
                            }
                        }

                        &.active {
                            border-bottom: 2px solid $gold-color;
                            transform: scale(1.1);

                            @include xs {
                                transform: scale(1);
                            }

                            a {
                                font-weight: 700;


                            }

                        }

                        &:hover {
                            border-bottom: 2px solid $gold-color;
                            transform: scale(1.1);

                            a {
                                font-weight: 700;
                            }
                        }

                        a {
                            color: $text-color;
                            font-size: 1.2rem;
                            line-height: 2.4rem;
                            text-transform: uppercase;
                            font-weight: 600;
                        }
                    }
                }

                .navbar-button {
                    display: flex;
                    justify-content: flex-end;

                    @include lg {
                        display: none;
                    }

                    a {
                        text-decoration: none;
                        border: none;
                        font-size: 1.2rem;
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 0 0 5px;

                        i {
                            margin: 0 5px 0 0;
                        }
                    }
                }
            }
        }

    }

}