.modal {
    background-color: rgba(#000, .8);
    transition: 2 * $transition-time;

    &.active {
        display: block;

    }

    .modal-dialog {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;

        @include lg {
            margin: auto;
        }

        .modal-content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            max-width: 430px;
            border: none;
            border-radius: 2 * $border-radius;
            overflow: hidden;

        }
    }
}

.auth-main__form {
    width: 100%;
    height: auto;

    &--login {
        display: none;

        &.active {
            display: block;
        }
    }

    &--register {
        display: none;

        &.active {
            display: block;
        }
    }

    .auth-main__form-inner {
        width: 100%;

        .form-body {
            width: 100%;
            padding: 36px 30px 0 30px;

            .form-group {
                margin-bottom: 10px;
                width: 100%;
                position: relative;

                .title {
                    margin-bottom: 25px;

                    h2 {
                        width: 100%;
                        text-align: center;
                        margin: 0;
                    }
                }

                .close {
                    position: absolute;
                    right: -15px;
                    top: -20px;
                    transform: translateY(-50%);
                    cursor: pointer;
                    transition: $transition-time;
                    font-size: 1.7rem;
                    color: $text-form-color;

                    &:hover {
                        opacity: .8;

                    }
                }

                .remember-pass {
                    display: flex;
                    justify-content: space-between;
                    padding: 20px 0px;
                    border-bottom: 2px solid $background-color;

                    .input {
                        display: flex;
                        align-items: center;

                        input {
                            color: $gold-color;
                            margin-right: 10px;
                            border: 1px solid #34495E;
                            border-radius: 4px;
                            outline: none;
                            transition-duration: 0.3s;
                            background-color: #41B883;
                            cursor: pointer;
                        }

                        label {
                            font-size: 1.4rem;
                            color: $text-form-color;
                            font-family: 'Roboto', sans-serif;
                        }
                    }

                    a {
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.4rem;
                    }
                }

                .form-control {
                    padding: 26px 20px;
                    border-color: $background-color;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.4rem;
                    color: $text-form-color;

                    @include lg {
                        padding: 10px
                    }


                }

                .btn {
                    width: 100%;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                    font-weight: 600;
                }

                .paragraph {
                    font-size: 1.4rem;
                    font-family: 'Roboto',
                        sans-serif;
                    line-height: 2.6rem;

                    a {
                        color: $primary-color;
                    }

                    p {}
                }

                .form-group-inner {
                    border: 1px solid #dadada;
                    display: flex;
                    align-items: center;
                    padding-right: 15px;

                    i {
                        font-size: 1.4rem;
                        cursor: pointer;
                        color: $text-form-color;

                        &.active {
                            color: $primary-color;
                        }
                    }

                    .input-symbol {
                        width: 54px;
                        height: 100%;
                        background: #f0f0f0;
                        display: flex;
                        border-right: 1px solid #dadada;

                        i {
                            margin: auto;
                            font-size: 2rem;
                            line-height: 2.6rem;
                            color: $text-color;
                        }
                    }

                    input {
                        border: none;
                        outline: none;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.4rem;
                        color: $text-form-color;
                        padding: 0 10px;
                        flex: 1;
                    }
                }

                .login-with {
                    padding: 18px 0;

                    .login {
                        border: none;
                        display: flex;
                        align-items: center;
                        padding: 14px 24px;
                        position: relative;
                        margin-bottom: 11px;

                        &.btn-facebook {
                            background-color: $facebook-color;
                        }

                        &.btn-google {
                            background-color: $google-color;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            height: 100%;
                            width: 1px;
                            background-color: rgba($color: #fff, $alpha: .4);
                            left: 50px;
                        }


                        span {
                            display: block;
                            width: 50px;
                            text-align: left;

                            i {
                                color: $white-color;
                                font-size: 1.2rem;
                            }
                        }

                        p {
                            width: 100%;
                            text-align: center;
                            color: $white-color;
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.3rem;
                            text-transform: unset !important;
                            margin: 0;
                        }
                    }
                }
            }
        }

        .redirect {
            padding: 24px 0;
            background: #f5f5f5;
            text-align: center;
            font-size: 1.4rem;
            font-family: 'Roboto', sans-serif;
        }
    }
}