.pages-banner {
    padding: 107px 0 118px 0;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    margin: 0 0 73px 0;

    .pages-banner__inner {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .title {
            font-family: 'Montserrat', sans-serif;
            font-size: 3.2rem;
            line-height: 6rem;
            color: $primary-color;

            h1 {
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .link {
            display: flex;
            font-family: 'Roboto',
                sans-serif;
            font-size: 1.6rem;
            line-height: 7.2rem;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                // margin-right: 10px;

                span,
                i {
                    color: $white-color;
                    display: block;
                    margin-right: 10px;
                }
            }

            span {
                display: block;
                color: $gold-color;
            }
        }
    }
}