.news-content__body {
    margin-bottom: 174px;

    .news-content__body-list {
        .news-item {
            width: 100%;
            height: auto;
            padding-bottom: 30px;
            margin-bottom: 14px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: $border-radius;
            overflow: hidden;

            .news-item__inner {
                width: 100%;
                height: inherit;

                .news-item__inner-img {
                    width: 100%;
                    height: 274px;
                    margin-bottom: 30px;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        transition: $transition-time;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                .content {
                    padding: 0 10px 0 20px;

                    .name {
                        margin-bottom: 20px;

                        a {
                            text-decoration: none;
                            color: $text-color;
                            font-family: 'Montserrat', sans-serif;
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                            font-weight: 600;
                            margin: 0;
                            transition: $transition-time;

                            &:hover {
                                color: $gold-color;
                            }
                        }
                    }

                    .info {
                        span {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.2rem;
                            color: $text-form-color;
                            line-height: 2.8rem;
                        }
                    }

                    .desc {
                        p {
                            margin: 0;
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.4rem;
                            line-height: 2.4rem;
                            color: $text-form-color;

                        }
                    }
                }
            }
        }
    }





}

.title-label {
    padding: 18px 25px;
    background: $primary-color;
    margin-bottom: 30px;
    border-radius: $border-radius;

    p {
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        color: $white-color;
        font-size: 1.4rem;
        margin: 0;
    }
}

.news-content__body-sidebar {
    padding-left: 30px;

    @include lg {
        padding: 0 10px;
        margin-top: 20px;
    }

    .news-sidebar {
        padding-bottom: 42px;

        &__categories {
            .categories-content {
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        transition: $transition-time;

                        &:hover {
                            transform: translateX(5px);

                            a {
                                color: $gold-color;
                            }
                        }

                        a {
                            text-decoration: none;
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.4rem;
                            color: $text-form-color;
                            line-height: 3.6rem;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }
                    }
                }
            }
        }

        &__top-views {


            .top-views__content {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        transition: $transition-time;

                        &:hover {
                            transform: translateX(5px);

                            a {
                                color: $gold-color;
                            }
                        }

                        .img {
                            width: 100px;
                            height: 76px;
                            margin: 0 11px 0 0;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .content {
                            .name {
                                a {
                                    text-decoration: none;
                                    font-size: 1.4rem;
                                    font-family: 'Montserrat', sans-serif;
                                    font-weight: 600;
                                    caret-color: $text-color;
                                    line-height: 2.2rem;
                                    margin: 0;
                                    color: $text-color;
                                }
                            }

                            .info {
                                span {
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 1.2rem;
                                    line-height: 2.8rem;
                                    color: $text-description-color;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__top-care {
            .top-care__content {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    .item {
                        background: $background-color;
                        padding: 17px 15px;
                        margin-bottom: 20px;

                        .item-img {
                            width: 100%;
                            height: auto;
                            margin-bottom: 26px;
                            position: relative;
                            overflow: hidden;

                            span {
                                position: absolute;
                                top: -12px;
                                left: -40px;
                                width: 100px;
                                height: 50px;
                                z-index: 1;
                                background: $red-color;
                                color: $white-color;
                                display: flex;
                                transform: rotate(-45deg);
                                padding: 10px;
                                align-items: flex-end;
                                justify-content: center;
                                font-family: 'Roboto', sans-serif;
                                font-size: 1.3rem;
                            }

                            label {
                                position: absolute;
                                bottom: 10px;
                                left: 12px;
                                padding: 6px 12px;
                                display: block;
                                font-family: 'Roboto', sans-serif;
                                font-size: 1.3rem;
                                text-transform: uppercase;
                                color: $white-color;
                                background: $red-color;
                            }

                            img {
                                width: 100%;
                                height: 228px;
                                transition: $transition-time;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }
                        }

                        .item-content {
                            .name {
                                a {
                                    text-decoration: none;
                                    margin: 0;
                                    font-size: 1.4rem;
                                    font-family: "Montserrat", sans-serif;
                                    text-transform: uppercase;
                                    font-weight: 600;
                                    color: $text-color;
                                }
                            }

                            .table {
                                margin-top: 20px;
                                padding-bottom: 20px;
                                border-bottom: 1px solid #b6b6b6;

                                table {
                                    color: $text-form-color;
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 1.4rem;
                                    line-height: 2.2rem;

                                    tr {
                                        border: none;
                                    }

                                    .label {
                                        width: 30%;

                                        span {
                                            font-weight: 600;
                                        }
                                    }

                                    .content {
                                        width: 70%;
                                    }
                                }
                            }

                        }

                        .item-info {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .info-part {
                                font-size: 1.4rem;
                                line-height: 2.2rem;
                                color: #acacac;
                            }
                        }
                    }
                }
            }
        }

    }
}