.about-content__body {
    .about-img {
        margin-bottom: 62px;

        .about-slide__wraps {
            position: relative;

            .about-img__large {
                height: atuo;
                width: 100%;

                img {
                    width: 100%;
                    height: 400px;

                    @include md {
                        height: 300px;
                    }

                    @include sm {
                        height: 200px;
                    }
                }
            }

            .slick-dots {
                position: absolute;
                bottom: 20px;
                left: 0;
                width: 100%;
                list-style: none;
                display: flex;
                width: 100%;
                justify-content: center;

                li {
                    margin: 0 5px;
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                    button {
                        width: 8px;
                        height: 10px;
                        border: none;
                        outline: none;
                        color: transparent;
                        border-radius: 50%;
                        background: #c8c9ca;
                        transition: $transition-time;
                    }
                }

                .slick-active {
                    button {
                        background-color: #000;
                    }
                }
            }
        }

        .about-img__mini {
            display: flex;
            flex-direction: column;
            height: 400px;

            @include lg {
                height: auto;
                flex-direction: row;
                margin-top: 5px;
                width: 100%;
                justify-content: space-between;
            }

            @include sm {
                flex-direction: column;
            }

            img {
                height: 50%;

                @include lg {
                    width: 50%;
                    height: 270px;
                }

                @include md {
                    height: 200px;
                }

                @include sm {
                    width: 100%;
                    margin-bottom: 5px;
                    height: 150px;
                }
            }
        }
    }

    .about-content {
        margin-bottom: 120px;

        .about-content__paragraph {
            margin-bottom: 52px;

            @include md {
                margin-bottom: 20px;
            }

            .title {
                margin-bottom: 26px;

                @include md {
                    margin-bottom: 10px;
                }
            }

            .paragraph {

                font-family: 'Roboto', sans-serif;
                font-size: 1.4rem;
                line-height: 2.4rem;
            }

        }
    }
}