.details-container {
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &-inner {

            .position {

                span,
                i {
                    font-size: 1.6rem;
                    color: $text-position-color;
                }

                i {
                    color: $gold-color;
                    margin-right: 10px;
                }
            }
        }

        label {
            border: none;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.2rem;
            font-weight: 600;
            padding: 11px 21px
        }
    }

    &__image {
        margin-top: 40px;
        width: 100%;
        margin-bottom: 53px;

        .image-wraps {
            &__main {

                img {
                    width: 100%;
                    height: 460px;
                    margin-bottom: 10px;
                }
            }

            &__thumb {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .image-thumb__item {
                    height: 100px;
                    flex: 1;
                    padding: 0 5px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .image-thumb__item:first-child {
                    padding-left: 0;
                }

                .image-thumb__item:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    &__description {
        .title {
            margin-bottom: 27px;

            h6 {
                color: $text-color;
            }
        }

        .content {
            p {
                font-family: 'Roboto', sans-serif;
                font-size: 1.4rem;
                line-height: 2.4rem;
                color: $text-position-color;
                margin-bottom: 35px;
            }
        }
    }

    &__characteristic {
        margin-bottom: 111px;

        .characteristic-item {

            &__content {
                background-color: $primary-color;
                padding: 42px 30px;
                font-size: 1.3rem;
                line-height: 3.5rem;
                min-height: 342px;

                .label {
                    color: $gold-color;
                    text-transform: uppercase;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    width: 40%;
                    text-align: left;
                }

                .content {
                    color: $white-color;
                    font-family: 'Roboto', sans-serif;
                    text-align: right;
                    width: 60%;
                }
            }
        }
    }

    &__similar {
        .title {
            margin-bottom: 41px;
        }
    }
}