.main-content__body {
    background: #f5f5f5;

    .main-content__body-slide {
        .body-slide__item {
            padding: 200px 0 250px 0;
            background-size: cover !important;
            background-position: right !important;
            background-repeat: no-repeat !important;

            @include lg {
                padding: 50px 0;
            }
        }

        .slide__item-inner {
            .title {
                margin-bottom: 25px;

                span {
                    font-size: 1.4rem;
                    color: $gold-color;
                    text-transform: uppercase;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                }
            }

            .content {
                margin-bottom: 52px;

                h2 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 4.8rem;
                    line-height: 60px;
                    font-weight: 700;
                    color: $white-color;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

                    @include md {
                        font-size: 3.8rem;
                    }
                }
            }

            .button {
                a {
                    font-size: 1.2rem;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $white-color;
                    font-weight: 600;
                    line-height: 2.4rem;
                    border: none;
                }
            }
        }

    }

    form {
        width: 100%;
        height: auto;
        position: relative;
        top: -36%;

        @include lg {
            position: unset;
            margin: 10px 0;
        }

        .form-looking {
            width: 100%;
            height: auto;
            padding: 66px 37px;
            box-shadow: rgba(7, 22, 69, 0.35) 0px 5px 15px;
            border-radius: $border-radius;

            @include md {
                padding: 20px 37px;
            }

            .form-group {
                padding: 10px 0;

                .form-control {
                    padding: 26px 25px;
                    font-size: 1.4rem;
                    font-family: 'Roboto', sans-serif;
                    line-height: 2.6rem;

                    span {
                        display: block;
                        padding: 5px;
                    }
                }
            }

            .main-ranger__slider {
                width: 100%;
                height: 100%;

                .main-ranger__slide-label {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    @include sm {
                        flex-direction: column;
                    }

                    .main-ranger__slide-price {
                        display: flex;
                        align-content: center;
                    }

                    span {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.4rem;
                        font-weight: 600;
                        line-height: 2.6rem;
                        text-transform: uppercase;
                        display: block;
                        margin-right: 10px;
                    }
                }

                .irs-bar {
                    background-color: $gold-color;
                }

                .irs-handle {
                    border-color: $gold-color;
                    background-color: $gold-color;
                }

                .irs--round {
                    height: 70px;
                }
            }

            .button {
                display: flex;
                align-items: center;
                height: 100%;

                button {
                    width: 100%;
                    text-transform: uppercase;
                    font-size: 1.6rem;
                }
            }
        }
    }

    .highlights-product {
        width: 100%;
        height: auto;
        // margin-top: 100px;
        margin-bottom: 56px;



        .highlights-product__wraps {
            width: 100%;
            margin-top: 45px;

            .highlights-product__img {
                width: 100%;
                height: auto;

                &.reserve {
                    .item--big {
                        margin: 13px 0 0 0;
                    }
                }

                .highlights-product__img-small {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .item {
                    position: relative;

                    &--big {
                        height: 453px;
                        width: 100%;
                        margin-bottom: 13px;

                        @include md {
                            height: 300px;
                        }


                    }

                    &--small {
                        width: 49%;
                        height: 212px;

                        @include md {
                            margin-bottom: 8px;
                        }
                    }

                    .over-lay {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: .9;
                    }

                    .item-text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        padding: 46px;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: flex-end;

                        @include md {
                            padding: 20px
                        }

                        label {
                            padding: 5px 15px;
                            background: $red-color;
                            text-transform: uppercase;
                            font-size: 1.3rem;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 600;
                            color: $white-color;
                            display: block;
                            margin-bottom: 26px;
                        }

                        h2 {
                            font-family: 'Montserrat', sans-serif;
                            font-size: 2rem;
                            font-weight: 600;
                            color: $gold-color;
                            text-transform: uppercase;
                            margin: 0 0 28px 0;

                            @include md {
                                font-size: 1.6rem;
                            }
                        }

                        table {
                            width: 100%;

                            td {
                                color: $white-color;
                                font-size: 1.8rem;
                                font-family: 'Roboto', sans-serif;

                                @include md {
                                    font-size: 1.4rem
                                }
                            }

                            .title {
                                width: 20%;
                            }

                            .content {
                                width: 80%;

                            }
                        }
                    }
                }
            }
        }
    }

    .main-content__body-banner {
        width: auto;
        height: auto;
        position: relative;
        padding: 143px 0 100px 0;
        background-repeat: no-repeat !important;
        background-size: cover;
        background-position: center;

        @include lg {
            padding: 50px 0;
        }

        .body-banner__wraps {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            height: 100%;

            .body-banner__wraps-text {
                width: 43%;

                @include lg {
                    width: 100%;
                }

                .title {
                    margin-bottom: 40px;
                }

                .paragraph {
                    font-size: 1.6rem;
                    line-height: 2.8rem;
                    color: $white-color;
                    font-family: 'Montserrat', sans-serif;
                    margin: 0 0 56px 0;
                }

                .btn {
                    padding: 17px 54px;
                    text-transform: uppercase;
                    color: $white-color;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.2rem;
                    line-height: 2.4rem;
                    font-weight: 600;
                }
            }
        }
    }



    .main-content__body-bandroll {
        padding: 118px 0 110px 0;
        margin: 0 0 97px 0;

        @include md {
            padding: 20px 0;
        }

        .bandroll-inner {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include md {
                align-items: center;
                margin-bottom: 10px;
            }

            .bandroll-inner__text {
                margin-bottom: 15px;

                h2 {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 600;
                    font-size: 3rem;
                    line-height: 3.6rem;
                    color: $gold-color;
                    margin: 0;
                    text-transform: uppercase;

                    @include xl {
                        font-size: 2.5rem;
                    }

                    @include lg {
                        font-size: 1.8rem;
                    }

                    @include xs {
                        font-size: 1.6rem;
                    }
                }
            }

            .bandroll-inner__desc {
                h4 {
                    font-family: 'Roboto', sans-serif;
                    font-size: 2.4rem;
                    font-weight: 500;
                    color: $white-color;

                    @include xl {
                        font-size: 2rem;
                    }

                    @include lg {
                        font-size: 1.6rem;
                    }
                }
            }

        }

        .bandroll-wraps {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @include md {
                justify-content: center;
            }

            .bandroll-wraps__icon {
                margin: 0 10px 0 0;

                i {
                    font-size: 5.1rem;
                    color: $gold-color;
                }

                @include xl {
                    font-size: 4rem;
                }
            }

            .bandroll-wraps__text {
                font-family: 'Montserrat', sans-serif;
                text-align: left;

                span {
                    font-weight: 600;
                    font-size: 1.6rem;
                    color: $white-color;
                    text-transform: uppercase;

                    @include xl {
                        font-size: 1.4rem;
                    }
                }

                p {
                    font-weight: 600;
                    font-size: 2rem;
                    line-height: 3.6rem;
                    color: $white-color;
                }
            }
        }
    }

    .main-content__body-marketing {
        padding: 83px 0 87px 0;
        background-repeat: no-repeat !important;
        background-size: cover !important;

        .title {
            width: 100%;
            text-align: center;
            margin-bottom: 44px;
        }

        .marketing-item {
            width: 100%;
            display: flex;
            justify-content: center;

            .marketing-item__inner {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 70px;


                .marketing-item__inner-img {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 33px;

                    img {
                        width: 130px;
                        height: 130px;
                        border-radius: 50%;
                    }
                }

                .marketing-item__inner-content {

                    .name {
                        width: 100%;
                        text-align: center;
                        margin-bottom: 30px;

                        h3 {
                            a {
                                text-decoration: none;
                                font-family: 'Roboto', sans-serif;
                                font-weight: 600;
                                color: $white-color;
                                font-size: 2rem;
                                line-height: 3.6rem;
                                font-weight: 500;

                            }
                        }
                    }

                    .phone {
                        text-align: center;
                        margin-bottom: 14px;

                        h4 {
                            font-family: 'Montserrat', sans-serif;
                            font-size: 1.8rem;
                            line-height: 3rem;
                            color: $gold-color;
                        }
                    }

                    .desc {
                        text-align: center;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.8rem;
                        line-height: 3rem;
                        color: $white-color;
                    }
                }
            }
        }

        .button {
            width: 100%;
            text-align: center;

            .btn {
                text-decoration: none;
                min-width: 165px;
                font-size: 1.8rem;
                font-family: 'Montserrat', sans-serif;
                line-height: 3rem;
                color: $white-color;
                text-transform: uppercase;
            }
        }
    }

    .main-content__body-news {
        margin: 68px 0;

        @include lg {
            margin-bottom: 20px;
        }

        .title--news {
            text-align: center;
            margin-bottom: 45px;
        }

        .main-news__container {
            width: 100%;
            height: auto;

            .main-news__container-wraps {
                width: inherit;
                height: inherit;

                .main-news__wraps-img {
                    width: 100%;
                    height: 400px;
                    margin-bottom: 23px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .title {
                    margin-bottom: 24px;
                }

                .desc {
                    margin-bottom: 30px;

                    p {
                        margin: 0;
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.4rem;
                        line-height: 2.4rem;
                        color: $text-description-color;
                    }
                }

                .info {
                    width: 100%;
                    border: 1px solid $border-color;
                    padding: 20px;
                    border-radius: $border-radius;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.2rem;
                    color: $text-description-color;

                    .info__inner {
                        display: flex;
                        align-items: center;

                        .auth {
                            display: flex;
                            align-items: center;
                            margin-right: 36px;

                            a {
                                text-decoration: none;
                                color: unset;
                            }

                            i {
                                margin-right: 10px;
                                color: $gold-color;
                            }
                        }

                        .read {
                            text-decoration: none;
                            color: unset;
                        }
                    }
                }
            }
        }

        .main-list__news {
            width: 100%;
            height: auto;

            ul {
                list-style: none;

                @include sm {
                    padding: 0 5px
                }

                li {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;

                    @include sm {
                        align-items: center;
                    }

                    img {
                        width: 170px;
                        height: 145px;
                        margin-right: 24px;
                    }

                    .content {
                        .name {
                            a {
                                text-decoration: none;
                                color: $text-color;
                                transition: $transition-time;
                                font-size: 1.6rem;
                                line-height: 2.4rem;
                                font-family: 'Montserrat', sans-serif;
                                font-weight: 600;

                                &:hover {
                                    color: $gold-color;
                                }
                            }
                        }

                        .info {
                            display: flex;
                            align-items: center;
                            color: $text-description-color;
                            margin: 15px 0;
                            font-size: 1.2rem;
                            font-family: 'Roboto', sans-serif;
                        }

                        .desc {
                            font-family: 'Roboto', sans-serif;
                            color: $text-description-color;
                            font-size: 1.4rem;
                            line-height: 2.4rem;

                            @include xs {
                                display: none;
                            }

                            p {
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .main-content__body-partner {
        padding: 83px 0 106px 0;
        background: #f0f0f0;

        @include lg {
            padding: 10px 0;
        }

        .title--center {
            margin-bottom: 60px;
        }

        .partner-slide {
            display: flex;
            cursor: pointer;

            .partner_img {
                width: 100%;
                height: auto;
                transition: $transition-time;

                &:hover {
                    transform: scale(1.1);
                }

                img {
                    width: 100%;
                    height: auto
                }

                ;
            }
        }

    }
}

.irs-to,
.irs-from,
.irs-min,
.irs-max,
.irs-single {
    display: none;
}

.highlights-product-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include xxl {
        align-items: flex-start;
    }

    @include lg {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .title {
        @include lg {
            padding-bottom: 20px;
            text-align: center;
            position: relative;

            &::after {
                content: "";
                width: 55px;
                height: 2px;
                background-color: #f99933;
                position: absolute;
                bottom: 0;
                right: 50%;
                transform: translateX(50%);
            }
        }
    }

    ul {
        border: none;

        @include sm {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .nav-link {
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-size: 1.4rem;
            font-weight: 500;
            color: $primary-color;
            background: none;
            padding: 5px 8px;
            border-radius: $border-radius;

            &.active {
                background: $primary-color;
                color: $white-color;
            }

        }
    }
}