.contact-content__body {
    &-inner {

        margin-bottom: 120px;

        @include md {
            margin-bottom: 20px;
        }

        .contact-main__body-info {
            .title {
                margin-bottom: 28px;
            }

            .paragraph {
                margin-bottom: 30px;

                @include md {
                    margin-bottom: 10px;
                }

                p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.4rem;
                    color: $text-form-color;
                    line-height: 2.4rem;
                    padding-right: 49px;
                    margin: 0;

                    @include md {
                        line-height: 2rem;
                        padding: 0;
                    }
                }
            }

            .text {
                display: flex;
                align-items: center;

                p {
                    margin-bottom: 0;
                    font-size: 1.4rem;
                    line-height: 3.6rem;
                    font-family: 'Roboto', sans-serif;
                    color: $text-form-color;

                    @include md {
                        line-height: 2rem;
                    }
                }

                a {
                    margin-bottom: 0;
                    text-decoration: none;
                    color: $gold-color;
                }
            }

            .socials-list-item {
                margin-top: 37px;

                @include md {
                    margin: 10px 0;

                }

                ul {
                    list-style: none;
                    display: flex;
                    margin: 0;
                    padding: 0;

                    li {
                        margin-right: 5px;

                        .item {
                            display: block;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            display: flex;
                            text-decoration: none;
                            border: 2px solid;
                            transition: $transition-time;

                            &--facebook {
                                background: $facebook-color;
                                border-color: $facebook-color;

                                &:hover {
                                    background: $white-color;

                                    i {
                                        color: $facebook-color;
                                    }
                                }
                            }

                            &--twitter {
                                background: $twitter-color;
                                border-color: $twitter-color;

                                &:hover {
                                    background: $white-color;

                                    i {
                                        color: $twitter-color;
                                    }
                                }
                            }

                            &--instagram {
                                background: $instagram-color;
                                border-color: $instagram-color;

                                &:hover {
                                    background: $white-color;

                                    i {
                                        color: $instagram-color;
                                    }
                                }
                            }

                            &--basketball {
                                background: $basketball-color;
                                border-color: $basketball-color;

                                &:hover {

                                    background: $white-color;

                                    i {
                                        color: $basketball-color;
                                    }
                                }
                            }

                            i {
                                margin: auto;
                                color: $white-color;
                                font-size: 1.2rem;
                            }



                        }
                    }
                }
            }
        }

        .contact-map {
            width: 100%;
            height: 100%;
        }
    }

    &-form {
        margin-bottom: 0;
        padding: 80px 0 166px 0;
        background: #f6f6f6;

        @include md {
            padding: 20px 0;
        }

        .title {
            margin-bottom: 47px;
        }

        .form-group {
            margin-bottom: 30px;

            .form-control {
                font-family: 'Roboto', sans-serif;
                font-size: 1.4rem;
                color: $text-form-color;
                padding: 17px
            }

            textarea {
                min-height: 200px;
            }

            .btn {
                font-family: "Montserrat", sans-serif;
                font-size: 1.6rem;
                font-weight: 600;
                color: $white-color;
            }
        }
    }
}