.rent-content__body {
    .search-form {
        .form-group {
            margin-bottom: 10px;

            .form-control {
                padding: 25px 16px;
                font-size: 1.4rem;
                font-family: 'Roboto', sans-serif;
            }

            .btn {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.6em;
                text-transform: uppercase;
                color: $white-color;
                width: 100%;
            }
        }
    }
}