.profile-content__body {
    padding-bottom: 130px;

    .profile-main {

        .form-panel {
            border: 1px solid $background-color;
            margin-bottom: 32px;

            .panel {
                .panel-title {
                    padding: 17px 24px;
                    background: $background-color;

                    h2 {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.4rem;
                        font-weight: 600;
                        color: $text-form-color;
                        text-transform: uppercase;
                    }
                }

                .panel-body {
                    padding: 28px 24px 43px 24px;

                    @include sm {
                        padding: 5px;
                    }

                    .form-group {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        justify-content: space-evenly;
                        padding-bottom: 10px;

                        .drop-zone {
                            width: 100%;
                            height: 280px;
                            padding: 25px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            font-family: 'Montserrat', sans-serif;
                            font-weight: 500px;
                            cursor: pointer;
                            color: #ccc;
                            border: 4px dashed $background-color;
                            border-radius: 10px;
                            margin-bottom: 20px;

                            &--over {
                                border-style: solid;
                            }

                            &__input {
                                display: none;
                            }

                            &__prompt {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-between;
                                font-family: 'Montserrat', sans-serif;
                                color: $background-color;

                                p {
                                    font-size: 2.4rem;
                                    line-height: 3rem;
                                }

                                label {
                                    font-size: 1.6rem;
                                    line-height: 3rem;
                                    margin-bottom: 10px;
                                }

                                .btn {
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 1.6rem;
                                    border-radius: 1.5 * $border-radius;
                                }
                            }

                            &__thumb {
                                width: 100%;
                                height: 100%;
                                border-radius: 10px;
                                overflow: hidden;
                                background-color: #cccc;
                                background-size: cover;
                                position: relative;

                                &::after {
                                    content: attr(data-label);
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    padding: 5px 0;
                                    color: #fff;
                                    background-color: rgba(#000, .75);
                                    font-size: 1.4rem;
                                    text-align: center;

                                }
                            }

                        }



                        .form-control {
                            padding: 21px 20px;
                            font-size: 1.4rem;
                            font-family: 'Roboto', sans-serif;
                            color: $text-form-color;
                            border-color: $background-color;
                        }

                        .item {
                            width: 100%;

                            .title {
                                padding: 11px 0;
                                background: #4b8efc;

                                p {
                                    width: 100%;
                                    text-align: center;
                                    margin-bottom: 0;
                                    font-family: 'Roboto', sans-serif;
                                    font-size: 1.4rem;
                                    line-height: 2.6rem;
                                    color: $white-color;
                                }
                            }

                            .body {
                                padding: 32px 0;
                                border: 1px solid #dadada;
                                border-top: unset;

                                p {
                                    width: 100%;
                                    text-align: center;
                                    margin-bottom: 0;
                                    font-family: 'Roboto', sans-serif;
                                    color: $text-color;
                                    font-size: 2rem;
                                    line-height: 2.6rem;
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    table {

                        th,
                        td {
                            padding: 22px;
                            text-align: center;

                            span {
                                text-transform: uppercase;
                                font-family: 'Roboto', sans-serif;
                                font-size: 1.4rem;
                                font-weight: 700;
                                line-height: 2.6rem;
                                color: $text-form-color;
                            }
                        }

                        td {
                            span {
                                text-transform: unset;
                                font-weight: 500
                            }
                        }

                    }
                }

                .form-group {
                    .paragraph {
                        display: flex;
                        justify-content: flex-start;

                        p {
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.4rem;
                            color: $text-form-color;
                            line-height: 2.6rem;
                        }
                    }
                }
            }

        }

        button {
            font-family: 'Montserrat', sans-serif;
            font-size: 1.2rem;
            // line-height: 2.4rem;
            font-weight: 600;
            text-transform: uppercase;
            padding: 16px 46px;
        }
    }
}

.profile-content__body-sidebar {
    width: 100%;

    .sidebar-info {
        width: 100%;
        height: auto;
        border: 1px solid $background-color;
        border-radius: $border-radius;
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;

        .sidebar-info__title {
            padding: 22px 0;
            background-color: $primary-color;
            border-radius: $border-radius;

            h3 {
                color: $white-color;
                text-transform: uppercase;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 3.6rem;
                margin: 0;
            }
        }

        .sidebar-info__content {
            padding: 8px 24px 44px 24px;

            .info-me {
                padding: 0 51px;

                @include lg {
                    padding: 0;
                }
            }

            .img {
                width: 100%;
                height: auto;
                padding: 14px 17px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .name,
            .type {

                h3,
                p {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 1.6rem;
                    font-weight: 600;
                    line-height: 3.6rem;
                    text-align: center;
                }
            }

            .count {
                width: 100%;
                height: auto;
                padding: 32px 29px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                background-color: $background-color;
                margin-bottom: 30px;

                @include xl {
                    padding: 10px;
                }

                .count__inner {
                    display: flex;

                    span {
                        font-family: 'Montserrat', sans-serif;
                        list-style: 3rem;
                        font-size: 1.6rem;
                        color: $text-color;
                        margin-right: 10px;

                        @include lg {
                            font-size: 1.4rem;
                        }
                    }
                }
            }

            .button {
                width: 100%;
                text-align: center;

                a {
                    text-decoration: none;
                    font-size: 1.2rem;
                    line-height: 2.4rem;
                    text-transform: uppercase;

                    i {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .sidebar-manage {
        border: 1px solid $background-color;

        .title {
            width: 100%;
            padding: 15px 19px;
            background: $background-color;

            h3 {
                font-family: 'Montserrat', sans-serif;
                font-size: 1.4rem;
                line-height: 3.6rem;
                color: $text-color;
                font-weight: 600;
                margin: 0;
            }
        }

        .content {
            padding: 26px 23px;

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    a {
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.6rem;
                        line-height: 3.4rem;
                        text-decoration: none;
                        color: $text-color;
                        transition: $transition-time;

                        &.active {
                            color: $gold-color;
                            font-weight: 600;
                        }

                        &:hover {
                            color: $gold-color;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }

}