---
layout: page
---

<div class="rent-content__body">
    <div class="container">
        <div class="row">

            {{content}}

            <!-- SIDEBAR CONTENT START -->
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                <div class="news-content__body-sidebar">

                    <!-- SEARCH FORM START -->
                    <div class="news-sidebar news-sidebar__categories">

                        <!-- TITLE START -->
                        <div class="title-label">
                            <p>
                                Tìm kiếm
                            </p>
                        </div>
                        <!-- TITLE END -->

                        <!-- FORM START -->
                        <div class="search-form">
                            <form action="#" method="post">

                                <!-- NAME INPUT START -->
                                <div class="form-group">
                                    <input class="form-control" name="project-name" type="text"
                                        placeholder="Nhập tên dự án, thành phố, quận huyện" required>
                                </div>
                                <!-- NAME INPUT END -->

                                <!-- TYPE LAND START -->
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            Chọn loại nhà đất
                                        </option>
                                        {% for item in site.data.main-type-land %}
                                        <option>
                                            {{item.type}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- TYPE LAND END -->

                                <!-- CITY START -->
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            Chọn tỉnh/thành phố
                                        </option>
                                        {% for item in site.data.main-city-list %}
                                        <option>
                                            {{item.text}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- CITY END -->

                                <!-- DISTRICT START -->
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Chọn Quận/HUyện</option>
                                        {% for item in site.data.main-city-list %}
                                        <option>
                                            {{item.text}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- DISTRICT END -->

                                <!-- SQUARE START -->
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            Chọn diện tích
                                        </option>
                                        {% for item in site.data.main-area %}
                                        <option>
                                            {{item.text}} m<sup>2</sup>
                                        </option>
                                        {%endfor %}
                                    </select>
                                </div>
                                <!-- SQUARE END -->

                                <!-- DIRECTION START -->
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            Chọn hướng
                                        </option>
                                        {% for item in site.data.main-direction %}
                                        <option>
                                            {{item.text}}
                                        </option>
                                        {% endfor%}
                                    </select>
                                </div>
                                <!-- DIRECTION END -->

                                <!-- BOOK START -->
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>
                                            Chọn loại sổ
                                        </option>
                                        {% for item in site.data.main-book %}
                                        <option>
                                            {{item.text}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- BOOK END -->

                                <!-- RANGER SLIDER START -->
                                <div class="form-group">
                                    <div class="main-ranger__slide-label">
                                        <span>Giá từ: </span>
                                        <span id="price_min"> 0 </span>
                                        <span> - </span>
                                        <span id="price_max"> 10 </span>
                                    </div>
                                    <input type="text" name="slider" id="categories-slider"
                                        class="form-control slide-ranger-categories" />
                                </div>
                                <!-- RANGER SLIDER END -->

                                <!-- BUTTON START -->
                                <div class="form-group">
                                    <button class=" btn btn-primary btn-large">
                                        kiểm tra kết quả
                                    </button>
                                </div>
                                <!-- BUTTON END -->

                            </form>
                        </div>
                        <!-- FORM END -->
                    </div>
                    <!-- SEARCH FORM END -->

                    <!-- CATEGORIES START -->
                    <div class="news-sidebar news-sidebar__categories">

                        <!-- TITLE START -->
                        <div class="title-label">
                            <p>
                                Danh mục
                            </p>
                        </div>
                        <!-- TITLE END -->

                        <!-- CONTENT START -->
                        <div class="categories-content">
                            <ul>
                                {% for item in site.data.highlights-product limit: 4 %}
                                <li>
                                    <a href="news-details.html">
                                        <div class="text">
                                            <span>
                                                {{item.text}}
                                            </span>
                                            <span>
                                                (5)
                                            </span>
                                        </div>
                                        <i class="fas fa-angle-right"></i>
                                    </a>

                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                        <!-- CONTENT END -->
                    </div>
                    <!-- CATEGORIES END -->

                    <!-- TOP CARE START -->
                    <div class="news-sidebar news-sidebar__top-care">
                        <div class="title-label">
                            <p>
                                BĐS quan tâm nhất
                            </p>
                        </div>
                        <div class="top-care__content">
                            <ul>
                                {% for item in site.data.news-care %}
                                <li>
                                    <div class="item">
                                        <!-- IMG START -->
                                        <div class="item-img">
                                            <img src="{{item.img_path}}">
                                            <span>
                                                {{item.sticker}}
                                            </span>
                                            <label>
                                                {{item.label}}
                                            </label>
                                        </div>
                                        <!-- IMG END -->

                                        <!-- CONTENT START -->
                                        <div class="item-content">
                                            <!-- NAME START -->
                                            <div class="name">
                                                <a href="#">
                                                    {{item.title}}
                                                </a>
                                            </div>
                                            <!-- NAME END -->

                                            <!-- TABLE START -->
                                            <div class="table">
                                                <table>
                                                    <tr>
                                                        <td class="label">
                                                            <span>
                                                                Giá
                                                            </span>
                                                        </td>
                                                        <td class="content">
                                                            : 140 triệu/m<sup>2</sup>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="label">
                                                            <span>
                                                                Diện tích
                                                            </span>
                                                        </td>
                                                        <td class="content">
                                                            : 140/m<sup>2</sup>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td class="label">
                                                            <span>
                                                                Quận/huyện
                                                            </span>
                                                        </td>
                                                        <td class="content">
                                                            : Trường thi, Tp Vinh, Nghệ An
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <!-- TABLE END -->

                                        </div>
                                        <!-- CONTENT END -->

                                        <!-- INFO START -->
                                        <div class="item-info">
                                            <div class="info-part">
                                                <i class="fas fa-user"></i>
                                                <span>
                                                    Nguyễn Hoàng Bách
                                                </span>
                                            </div>
                                            <div class="info-part">
                                                <i class="fad fa-calendar-alt"></i>
                                                <span>
                                                    01/11/2018
                                                </span>
                                            </div>
                                        </div>
                                        <!-- INFO END -->
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- TOP CARE END -->

                </div>
            </div>
            <!-- SIDEBAR CONTENT END -->
        </div>
    </div>
</div>