<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    {% include header.html %}
    <main>
        <div class="modal" id="auth-main_form">
            <div class="modal-dialog">
                <div class="modal-content login">
                    {% include login.html %}
                </div>
                <div class="modal-content register">
                    {% include register.html %}
                </div>
            </div>
        </div>
        {{content}}

    </main>
    {% include footer.html %}
    {% include script.html %}
</body>

</html>