---
layout: page
---
<div class="profile-content__body">
    <div class="container">
        <div class="row">

            <!-- SIDEBAR START -->
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <div class="profile-content__body-sidebar">

                    <!-- SIDEBAR INFO START  -->
                    <div class="sidebar-info">
                        <div class="sidebar-info__title ">
                            <h3>
                                Trang cá nhân
                            </h3>
                        </div>
                        <!-- CONTENT START -->
                        <div class="sidebar-info__content">
                            <div class="info-me">
                                <!-- IMG START -->
                                <div class="img">
                                    <img src="assets/image/marketing/p3.jpg" alt="img" />
                                </div>
                                <!-- IMG END -->

                                <!-- NAME START -->
                                <div class="name">
                                    <h3>
                                        Nguyễn Văn Anh
                                    </h3>
                                </div>
                                <!-- NAME END -->
                            </div>


                            <!-- TYPE ACC START -->
                            <div class="type">
                                <p>
                                    Tài Khoản: Miễn phí
                                </p>
                            </div>
                            <!-- TYPE ACC END -->

                            <!-- ACC COUNT START -->
                            <div class="count">
                                <div class="count__inner">
                                    <span class="count__title">Tài khoản tin rao:</span>
                                    <span class="count__content">0</span>
                                </div>
                                <div class="count__inner">
                                    <span class="count__title">Tài khoản ngoài tin rao:</span>
                                    <span class="count__content">0</span>
                                </div>
                            </div>
                            <!-- ACC COUNT END -->

                            <!-- BUTTON START -->
                            <div class="button">
                                <a class="btn btn-danger">
                                    <i class="far fa-university"></i>
                                    Nạp tiền
                                </a>
                            </div>
                            <!-- BUTTON END -->

                        </div>
                        <!-- CONTENT END -->
                    </div>
                    <!-- SIDEBAR INFO END -->

                    <!-- MANAGE PROFILE START -->
                    <div class="sidebar-manage">
                        <div class="title">
                            <h3>
                                Quản lí thông tin cá nhân
                            </h3>
                        </div>
                        <div class="content">
                            <ul>
                                {% for item in site.data.profile-manage limit: 2 %}
                                <li>
                                    <a href="{{item.link}}"
                                        class="{% if page.permalink==item.link %} active {% endif %}">
                                        <i class=" fas fa-caret-right"></i>
                                        <span>{{item.text}}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- MANAGE PROFILE END -->

                    <!-- MANAGE PROFILE START -->
                    <div class="sidebar-manage">
                        <div class="title">
                            <h3>
                                Quản lý đăng tin
                            </h3>
                        </div>
                        <div class="content">
                            <ul>
                                {% for item in site.data.profile-manage offset: 2 %}
                                <li>
                                    <a href="{{item.link}}"
                                        class="{% if page.permalink==item.link %} active {% endif %}">
                                        <i class="fas fa-caret-right"></i>
                                        <span>{{item.text}}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- MANAGE PROFILE END -->

                </div>
            </div>
            <!-- SIDEBAR END -->

            <!-- PROFILE MAIN CONTENT START -->
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                {{content}}
            </div>
            <!-- PROFILE MAIN CONTENT END -->

        </div>
    </div>
</div>