---
layout: default
---
<!-- BANNER START -->
<div class="pages-banner" style="background-image: url('assets/image/banner/banner4.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="pages-banner__inner">
                    <!-- TITLE START -->
                    <div class="title">
                        <h1>
                            {{page.page-title}}
                        </h1>
                    </div>
                    <!-- TITLE END -->

                    <!-- LINK START -->
                    <div class="link">
                        <a href="index.html">
                            <span>Trang chủ</span>
                            <i class="fal fa-angle-right"></i>
                        </a>
                        <span>
                            {{page.page-title}}
                        </span>
                    </div>
                    <!-- LINK END -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BANNER END -->
{{ content }}